
.aui.cells {
    margin-top: 1.17647059em;
    background-color: #FFFFFF;
    line-height: 1.47058824;
    font-size: 1rem;
    overflow: hidden;
    position: relative;
}

.aui.cells:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid var(--white);
    color: var(--white);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}

.aui.cells:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}

.aui.cells__title {
    margin-top: .77em;
    margin-bottom: .3em;
    padding-left: .75rem;
    padding-right: .75rem;
    color: var(--grey);
    font-size: .7em;
}

.aui.cells__title + .aui.cells {
    margin-top: 0;
}

.aui.cells__tips {
    margin-top: .3em;
    color: var(--grey);
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: .7rem;
}

.aui.cell {
    padding: 10px .75rem;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.aui.cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    color: var(--white);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    left: .75rem;
    z-index: 2;
}

.aui.cell.lined:before {
    border-top: 1px solid var(--white);
}

.aui.cell:first-child:before {
    display: none;
}

.aui.cell.primary {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.aui.cell__bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.aui.cell__ft {
    text-align: right;
    color: var(--grey);
}

.aui.cell-swiped {
    display: block;
    padding: 0;
}

.aui.cell-swiped > .aui.cell__bd {
    position: relative;
    z-index: 1;
    background-color: var(--white);
}

.aui.cell-swiped > .aui.cell__ft {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    color: var(--white);
}

.aui.cell-access {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: inherit;
}

.aui.cell-access:active {
    background-color: var(--white);
}

.aui.cell-access .aui.cell__ft {
    padding-right: 13px;
    position: relative;
}

.aui.cell-access .aui.cell__ft:after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: var(--white);
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
}

.aui.cell-link {
    color: var(--blue);
    font-size: .7rem;
}

.aui.cell-link:first-child:before {
    display: block;
}