html, body {
    width: 100%;
    height: 100%;
}

/*
---- 页面---
 */
.aui.page {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: -apple-system-font, Consolas, Helvetica Neue, Helvetica, sans-serif;
}

.aui.page:before {
    top: 0;
}

.aui.page:after,
.aui.page:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    color: var(--white);
}

.aui.page:after {
    bottom: 0;
}

.aui.page__hd {
    position: relative;
    margin-top: 0;
    padding-top: 0;
}

.aui.page__hd.spacing {
    padding: 2rem;
}

.aui.page__hd > .aui.title {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.aui.page__hd > .aui.desc {
    margin-top: .25rem;
    color: #888;
    text-align: center;
    font-size: .75rem;
}

.aui.page__bd {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    padding-bottom: .75rem;
}

.aui.page__bd.spacing {
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.aui.page__ft {
    position: relative;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: .5rem;
    padding-bottom: 0;
    text-align: center;
}

