// 
// Border Mixins
//
// Dependences: {
//     ./maxins/variables.scss: solids, directions, colors,
// }
@mixin border-make-size() {
    @each $key,
    $size in $solids {
        $suffix: -#{$key};
        @if $key=="primary" {
            $suffix: "";
        }
        &#{$suffix} {
            border: $size solid $color-grey;
        }
        &-x#{$suffix},
        &-t#{$suffix},
        &-top#{$suffix} {
            border-top: $size solid $color-grey;
        }
        &-y#{$suffix},
        &-r#{$suffix},
        &-right#{$suffix} {
            border-right: $size solid $color-grey;
        }
        &-x#{$suffix},
        &-b#{$suffix},
        &-bottom#{$suffix} {
            border-bottom: $size solid $color-grey;
        }
        &-y#{$suffix},
        &-l#{$suffix},
        &-left#{$suffix} {
            border-left: $size solid $color-grey;
        }
    }
}

@mixin border-make-color {
    @each $key,
    $color in $colors {
        &-#{$key} {
            border-color: $color;
        }
    }
}

@mixin border-make-style {
    &-solid {
        border-style: solid;
    }
    &-dashed {
        border-style: dashed;
    }
}