//
// Gradient Mixins
//
// Dependences: (./tools.scss)[background(),]),
//
// Horizontal gradient, from left to right
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
@mixin gradient-x($start-color: $color-grey, $end-color: $color-gray, $start-percent: 0%, $end-percent: 100%) {
    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
    background-repeat: repeat-x;
}

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
@mixin gradient-y($start-color: $color-grey, $end-color: $color-gray, $start-percent: 0%, $end-percent: 100%) {
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
    background-repeat: repeat-x;
}

@mixin gradient-directional($start-color: $color-grey, $end-color: $color-gray, $deg: 45deg) {
    background-image: linear-gradient($deg, $start-color, $end-color);
    background-repeat: repeat-x;
}

@mixin gradient-x-three-colors($start-color: $color-blue, $mid-color: $color-purple, $color-stop: 50%, $end-color: $red) {
    background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
}

@mixin gradient-y-three-colors($start-color: $color-blue, $mid-color: $color-purple, $color-stop: 50%, $end-color: $red) {
    background-image: linear-gradient(to bottom, $start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
}

@mixin gradient-radial($inner-color: $color-grey, $outer-color: $color-gray) {
    background-image: radial-gradient(circle, $inner-color, $outer-color);
    background-repeat: no-repeat;
}

@mixin gradient-striped($color: rgba($white, .15), $angle: 45deg) {
    background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}