// 
// Radius Mixins
//
// Dependences: {
//     ./maxins/variables.scss: sizes,
// }
@mixin radius-init-top-left($radius) {
    @if $enable-rounded {
        border-top-left-radius: $radius;
    }
}

@mixin radius-init-top-right($radius) {
    @if $enable-rounded {
        border-top-right-radius: $radius;
    }
}

@mixin radius-init-bottom-right($radius) {
    @if $enable-rounded {
        border-bottom-right-radius: $radius;
    }
}

@mixin radius-init-bottom-left($radius) {
    @if $enable-rounded {
        border-bottom-left-radius: $radius;
    }
}

@mixin radius-init-all($size) {
    border-radius: $size;
}

@mixin radius-init-top($size) {
    border-top-left-radius: $size;
    border-top-right-radius: $size;
}

@mixin radius-init-right($size) {
    border-top-right-radius: $size;
    border-bottom-right-radius: $size;
}

@mixin radius-init-bottom($size) {
    border-bottom-left-radius: $size;
    border-bottom-right-radius: $size;
}

@mixin radius-init-left($size) {
    border-top-left-radius: $size;
    border-bottom-left-radius: $size;
}

@mixin radius-init($dir, $size) {
    @if $dir=="all" {
        @include radius-init-all($size);
    }
    @else if $dir=="top" {
        @include radius-init-top($size);
    }
    @else if $dir=="right" {
        @include radius-init-right($size);
    }
    @else if $dir=="bottom" {
        @include radius-init-bottom($size);
    }
    @else if $dir=="left" {
        @include radius-init-left($size);
    }
}

@mixin radius-init-circle() {
    &-circle {
        @include radius-init-all(3000rem);
    }
    &-t-circle,
    &-top-circle {
        @include radius-init-top(3000rem);
    }
    &-r-circle,
    &-right-circle {
        @include radius-init-right(3000rem);
    }
    &-b-circle,
    &-bottom-circle {
        @include radius-init-bottom(3000rem);
    }
    &-l-circle,
    &-left-circle {
        @include radius-init-left(3000rem);
    }
}

@mixin radius-init-rounded() {
    &-rounded {
        @include radius-init-all(50%);
    }
    &-t-rounded,
    &-top-rounded {
        @include radius-init-top(50%);
    }
    &-r-rounded,
    &-right-rounded {
        @include radius-init-right(50%);
    }
    &-b-rounded,
    &-bottom-rounded {
        @include radius-init-bottom(50%);
    }
    &-l-rounded,
    &-left-rounded {
        @include radius-init-left(50%);
    }
}

@mixin radius-make() {
    @include radius-init-circle();
    @include radius-init-rounded();
    @each $key,
    $size in $sizes {
        $suffix: -#{$key};
        @if $key=="primary" {
            $suffix: "";
        }
        &#{$suffix} {
            @include radius-init-all($size);
        }
        &-t#{$suffix},
        &-top#{$suffix} {
            @include radius-init-top($size);
        }
        &-r#{$suffix},
        &-right#{$suffix} {
            @include radius-init-right($size);
        }
        &-b#{$suffix},
        &-bottom#{$suffix} {
            @include radius-init-bottom($size);
        }
        &-l#{$suffix},
        &-left#{$suffix} {
            @include radius-init-left($size);
        }
    }
}