/*
 --- Animation 微动画 ---
 */
/*
 --- Animation 微动画 ---
 */
.ani-reverse,
.animation-reverse,
.ani-fade-in,
.animation-fade-in,
.ani-fade-out,
.animation-fade-out,
.ani-scale-up,
.animation-scale-up,
.ani-scale-down,
.animation-scale-down,
.ani-slide-top,
.animation-slide-top,
.ani-slide-bottom,
.animation-slide-bottom,
.ani-slide-left,
.animation-slide-left,
.ani-slide-right,
.animation-slide-right,
.ani-shake,
.animation-shake,
.ani-spin,
.animation-spin {
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.ani-reverse,
.animation-reverse {
  animation-direction: reverse;
}
.ani-fade-in,
.animation-fade-in {
  animation-name: fade-in;
  animation-timing-function: linear;
}
.ani-fade-out,
.animation-fade-out {
  animation-name: fade-out;
  animation-timing-function: linear;
}
.ani-scale-up,
.animation-scale-up {
  animation-name: scale-up;
}
.ani-scale-down,
.animation-scale-down {
  animation-name: scale-down;
}
.ani-slide-top,
.animation-slide-top {
  animation-name: slide-top;
}
.ani-slide-bottom,
.animation-slide-bottom {
  animation-name: slide-bottom;
}
.ani-slide-left,
.animation-slide-left {
  animation-name: slide-left;
}
.ani-slide-right,
.animation-slide-right {
  animation-name: slide-right;
}
.ani-shake,
.animation-shake {
  animation-name: shake;
}
.ani-spin,
.animation-spin {
  animation: spin 0.8s infinite linear;
  display: inline-block;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scale-up {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scale-up {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes scale-down {
  0% {
    opacity: 0;
    transform: scale(1.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scale-down {
  0% {
    opacity: 0;
    transform: scale(1.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-9px);
  }
  20% {
    transform: translateX(8px);
  }
  30% {
    transform: translateX(-7px);
  }
  40% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(4px);
  }
  70% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-1px);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-9px);
  }
  20% {
    transform: translateX(8px);
  }
  30% {
    transform: translateX(-7px);
  }
  40% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(4px);
  }
  70% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-1px);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}
