/* 阴影尺寸 */
.btn,
.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:focus,
.button:focus,
.btn:active:focus,
.button:active:focus,
.btn.active:focus,
.button.active:focus,
.btn.focus,
.button.focus,
.btn:active.focus,
.button:active.focus,
.btn.active.focus,
.button.active.focus {
  outline: 0.5rem auto -webkit-focus-ring-color;
  outline-offset: -0.1rem;
}
.btn:hover,
.button:hover,
.btn:focus,
.button:focus,
.btn.focus,
.button.focus {
  color: #4fc08d;
  text-decoration: none;
}
.btn:active,
.button:active,
.btn.active,
.button.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 0.3rem 0.5rem rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.button.disabled,
.btn[disabled],
.button[disabled],
fieldset[disabled] .btn,
fieldset[disabled] .button {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
a.btn.disabled,
a.button.disabled,
fieldset[disabled] a.btn,
fieldset[disabled] a.button {
  pointer-events: none;
}
.btn-link,
.button-link {
  color: #4fc08d;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.button-link,
.btn-link:active,
.button-link:active,
.btn-link.active,
.button-link.active,
.btn-link[disabled],
.button-link[disabled],
fieldset[disabled] .btn-link,
fieldset[disabled] .button-link {
  background-color: transparent;
  box-shadow: none;
}
.btn-link,
.button-link,
.btn-link:hover,
.button-link:hover,
.btn-link:focus,
.button-link:focus,
.btn-link:active,
.button-link:active {
  border-color: transparent;
}
.btn-link:hover,
.button-link:hover,
.btn-link:focus,
.button-link:focus {
  color: #4fc08d;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.button-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .button-link:hover,
.btn-link[disabled]:focus,
.button-link[disabled]:focus,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .button-link:focus {
  color: #eee;
  text-decoration: none;
}
.button-red {
  color: #fff;
  background-color: #e54d42;
  border-color: #e2382c;
}
.button-red:focus,
.button-red.focus {
  color: #fff;
  background-color: #d62a1e;
  border-color: #7d1811;
}
.button-red:hover {
  color: #fff;
  background-color: #d62a1e;
  border-color: #b72419;
}
.button-red:active,
.button-red.active {
  color: #fff;
  background-color: #d62a1e;
  border-color: #b72419;
}
.button-red:active:hover,
.button-red.active:hover,
.button-red:active:focus,
.button-red.active:focus,
.button-red:active.focus,
.button-red.active.focus {
  color: #fff;
  background-color: #b72419;
  border-color: #7d1811;
}
.button-red:active,
.button-red.active {
  background-image: none;
}
.button-red.disabled:hover,
.button-red[disabled]:hover,
fieldset[disabled] .button-red:hover,
.button-red.disabled:focus,
.button-red[disabled]:focus,
fieldset[disabled] .button-red:focus,
.button-red.disabled.focus,
.button-red[disabled].focus,
fieldset[disabled] .button-red.focus {
  background-color: #e54d42;
  border-color: #e2382c;
}
.button-red .badge {
  color: #e54d42;
  background-color: #fff;
}
.button-orange {
  color: #fff;
  background-color: #f37b1d;
  border-color: #ea6e0c;
}
.button-orange:focus,
.button-orange.focus {
  color: #fff;
  background-color: #d2620b;
  border-color: #713506;
}
.button-orange:hover {
  color: #fff;
  background-color: #d2620b;
  border-color: #b05309;
}
.button-orange:active,
.button-orange.active {
  color: #fff;
  background-color: #d2620b;
  border-color: #b05309;
}
.button-orange:active:hover,
.button-orange.active:hover,
.button-orange:active:focus,
.button-orange.active:focus,
.button-orange:active.focus,
.button-orange.active.focus {
  color: #fff;
  background-color: #b05309;
  border-color: #713506;
}
.button-orange:active,
.button-orange.active {
  background-image: none;
}
.button-orange.disabled:hover,
.button-orange[disabled]:hover,
fieldset[disabled] .button-orange:hover,
.button-orange.disabled:focus,
.button-orange[disabled]:focus,
fieldset[disabled] .button-orange:focus,
.button-orange.disabled.focus,
.button-orange[disabled].focus,
fieldset[disabled] .button-orange.focus {
  background-color: #f37b1d;
  border-color: #ea6e0c;
}
.button-orange .badge {
  color: #f37b1d;
  background-color: #fff;
}
.button-yellow {
  color: #fff;
  background-color: #fbbd08;
  border-color: #e6ac04;
}
.button-yellow:focus,
.button-yellow.focus {
  color: #fff;
  background-color: #cd9903;
  border-color: #684e02;
}
.button-yellow:hover {
  color: #fff;
  background-color: #cd9903;
  border-color: #aa7f03;
}
.button-yellow:active,
.button-yellow.active {
  color: #fff;
  background-color: #cd9903;
  border-color: #aa7f03;
}
.button-yellow:active:hover,
.button-yellow.active:hover,
.button-yellow:active:focus,
.button-yellow.active:focus,
.button-yellow:active.focus,
.button-yellow.active.focus {
  color: #fff;
  background-color: #aa7f03;
  border-color: #684e02;
}
.button-yellow:active,
.button-yellow.active {
  background-image: none;
}
.button-yellow.disabled:hover,
.button-yellow[disabled]:hover,
fieldset[disabled] .button-yellow:hover,
.button-yellow.disabled:focus,
.button-yellow[disabled]:focus,
fieldset[disabled] .button-yellow:focus,
.button-yellow.disabled.focus,
.button-yellow[disabled].focus,
fieldset[disabled] .button-yellow.focus {
  background-color: #fbbd08;
  border-color: #e6ac04;
}
.button-yellow .badge {
  color: #fbbd08;
  background-color: #fff;
}
.button-olive {
  color: #fff;
  background-color: #8dc63f;
  border-color: #80b636;
}
.button-olive:focus,
.button-olive.focus {
  color: #fff;
  background-color: #72a230;
  border-color: #3b5319;
}
.button-olive:hover {
  color: #fff;
  background-color: #72a230;
  border-color: #5f8628;
}
.button-olive:active,
.button-olive.active {
  color: #fff;
  background-color: #72a230;
  border-color: #5f8628;
}
.button-olive:active:hover,
.button-olive.active:hover,
.button-olive:active:focus,
.button-olive.active:focus,
.button-olive:active.focus,
.button-olive.active.focus {
  color: #fff;
  background-color: #5e8628;
  border-color: #3b5319;
}
.button-olive:active,
.button-olive.active {
  background-image: none;
}
.button-olive.disabled:hover,
.button-olive[disabled]:hover,
fieldset[disabled] .button-olive:hover,
.button-olive.disabled:focus,
.button-olive[disabled]:focus,
fieldset[disabled] .button-olive:focus,
.button-olive.disabled.focus,
.button-olive[disabled].focus,
fieldset[disabled] .button-olive.focus {
  background-color: #8dc63f;
  border-color: #80b636;
}
.button-olive .badge {
  color: #8dc63f;
  background-color: #fff;
}
.button-green {
  color: #fff;
  background-color: #39b54a;
  border-color: #33a242;
}
.button-green:focus,
.button-green.focus {
  color: #fff;
  background-color: #2d8e3a;
  border-color: #14411a;
}
.button-green:hover {
  color: #fff;
  background-color: #2d8e3a;
  border-color: #24732f;
}
.button-green:active,
.button-green.active {
  color: #fff;
  background-color: #2d8e3a;
  border-color: #24732f;
}
.button-green:active:hover,
.button-green.active:hover,
.button-green:active:focus,
.button-green.active:focus,
.button-green:active.focus,
.button-green.active.focus {
  color: #fff;
  background-color: #24732f;
  border-color: #14411a;
}
.button-green:active,
.button-green.active {
  background-image: none;
}
.button-green.disabled:hover,
.button-green[disabled]:hover,
fieldset[disabled] .button-green:hover,
.button-green.disabled:focus,
.button-green[disabled]:focus,
fieldset[disabled] .button-green:focus,
.button-green.disabled.focus,
.button-green[disabled].focus,
fieldset[disabled] .button-green.focus {
  background-color: #39b54a;
  border-color: #33a242;
}
.button-green .badge {
  color: #39b54a;
  background-color: #fff;
}
.button-cyan {
  color: #fff;
  background-color: #1cbbb4;
  border-color: #19a59f;
}
.button-cyan:focus,
.button-cyan.focus {
  color: #fff;
  background-color: #158f89;
  border-color: #083634;
}
.button-cyan:hover {
  color: #fff;
  background-color: #158f89;
  border-color: #11706b;
}
.button-cyan:active,
.button-cyan.active {
  color: #fff;
  background-color: #158f89;
  border-color: #11706b;
}
.button-cyan:active:hover,
.button-cyan.active:hover,
.button-cyan:active:focus,
.button-cyan.active:focus,
.button-cyan:active.focus,
.button-cyan.active.focus {
  color: #fff;
  background-color: #11706b;
  border-color: #083634;
}
.button-cyan:active,
.button-cyan.active {
  background-image: none;
}
.button-cyan.disabled:hover,
.button-cyan[disabled]:hover,
fieldset[disabled] .button-cyan:hover,
.button-cyan.disabled:focus,
.button-cyan[disabled]:focus,
fieldset[disabled] .button-cyan:focus,
.button-cyan.disabled.focus,
.button-cyan[disabled].focus,
fieldset[disabled] .button-cyan.focus {
  background-color: #1cbbb4;
  border-color: #19a59f;
}
.button-cyan .badge {
  color: #1cbbb4;
  background-color: #fff;
}
.button-blue {
  color: #fff;
  background-color: #0081ff;
  border-color: #0074e6;
}
.button-blue:focus,
.button-blue.focus {
  color: #fff;
  background-color: #0067cc;
  border-color: #003466;
}
.button-blue:hover {
  color: #fff;
  background-color: #0067cc;
  border-color: #0055a8;
}
.button-blue:active,
.button-blue.active {
  color: #fff;
  background-color: #0067cc;
  border-color: #0055a8;
}
.button-blue:active:hover,
.button-blue.active:hover,
.button-blue:active:focus,
.button-blue.active:focus,
.button-blue:active.focus,
.button-blue.active.focus {
  color: #fff;
  background-color: #0055a8;
  border-color: #003466;
}
.button-blue:active,
.button-blue.active {
  background-image: none;
}
.button-blue.disabled:hover,
.button-blue[disabled]:hover,
fieldset[disabled] .button-blue:hover,
.button-blue.disabled:focus,
.button-blue[disabled]:focus,
fieldset[disabled] .button-blue:focus,
.button-blue.disabled.focus,
.button-blue[disabled].focus,
fieldset[disabled] .button-blue.focus {
  background-color: #0081ff;
  border-color: #0074e6;
}
.button-blue .badge {
  color: #0081ff;
  background-color: #fff;
}
.button-purple {
  color: #fff;
  background-color: #6739b6;
  border-color: #5c33a3;
}
.button-purple:focus,
.button-purple.focus {
  color: #fff;
  background-color: #512d8f;
  border-color: #251541;
}
.button-purple:hover {
  color: #fff;
  background-color: #512d8f;
  border-color: #422474;
}
.button-purple:active,
.button-purple.active {
  color: #fff;
  background-color: #512d8f;
  border-color: #422474;
}
.button-purple:active:hover,
.button-purple.active:hover,
.button-purple:active:focus,
.button-purple.active:focus,
.button-purple:active.focus,
.button-purple.active.focus {
  color: #fff;
  background-color: #422474;
  border-color: #251541;
}
.button-purple:active,
.button-purple.active {
  background-image: none;
}
.button-purple.disabled:hover,
.button-purple[disabled]:hover,
fieldset[disabled] .button-purple:hover,
.button-purple.disabled:focus,
.button-purple[disabled]:focus,
fieldset[disabled] .button-purple:focus,
.button-purple.disabled.focus,
.button-purple[disabled].focus,
fieldset[disabled] .button-purple.focus {
  background-color: #6739b6;
  border-color: #5c33a3;
}
.button-purple .badge {
  color: #6739b6;
  background-color: #fff;
}
.button-mauve {
  color: #fff;
  background-color: #9c26b0;
  border-color: #89219b;
}
.button-mauve:focus,
.button-mauve.focus {
  color: #fff;
  background-color: #771d86;
  border-color: #2c0b32;
}
.button-mauve:hover {
  color: #fff;
  background-color: #771d86;
  border-color: #5d1769;
}
.button-mauve:active,
.button-mauve.active {
  color: #fff;
  background-color: #771d86;
  border-color: #5d1769;
}
.button-mauve:active:hover,
.button-mauve.active:hover,
.button-mauve:active:focus,
.button-mauve.active:focus,
.button-mauve:active.focus,
.button-mauve.active.focus {
  color: #fff;
  background-color: #5d1769;
  border-color: #2c0b32;
}
.button-mauve:active,
.button-mauve.active {
  background-image: none;
}
.button-mauve.disabled:hover,
.button-mauve[disabled]:hover,
fieldset[disabled] .button-mauve:hover,
.button-mauve.disabled:focus,
.button-mauve[disabled]:focus,
fieldset[disabled] .button-mauve:focus,
.button-mauve.disabled.focus,
.button-mauve[disabled].focus,
fieldset[disabled] .button-mauve.focus {
  background-color: #9c26b0;
  border-color: #89219b;
}
.button-mauve .badge {
  color: #9c26b0;
  background-color: #fff;
}
.button-pink {
  color: #fff;
  background-color: #e03997;
  border-color: #dd238b;
}
.button-pink:focus,
.button-pink.focus {
  color: #fff;
  background-color: #c71f7e;
  border-color: #6f1146;
}
.button-pink:hover {
  color: #fff;
  background-color: #c71f7e;
  border-color: #a81a6a;
}
.button-pink:active,
.button-pink.active {
  color: #fff;
  background-color: #c71f7e;
  border-color: #a81a6a;
}
.button-pink:active:hover,
.button-pink.active:hover,
.button-pink:active:focus,
.button-pink.active:focus,
.button-pink:active.focus,
.button-pink.active.focus {
  color: #fff;
  background-color: #a81a6a;
  border-color: #6f1146;
}
.button-pink:active,
.button-pink.active {
  background-image: none;
}
.button-pink.disabled:hover,
.button-pink[disabled]:hover,
fieldset[disabled] .button-pink:hover,
.button-pink.disabled:focus,
.button-pink[disabled]:focus,
fieldset[disabled] .button-pink:focus,
.button-pink.disabled.focus,
.button-pink[disabled].focus,
fieldset[disabled] .button-pink.focus {
  background-color: #e03997;
  border-color: #dd238b;
}
.button-pink .badge {
  color: #e03997;
  background-color: #fff;
}
.button-brown {
  color: #fff;
  background-color: #a5673f;
  border-color: #935b38;
}
.button-brown:focus,
.button-brown.focus {
  color: #fff;
  background-color: #805031;
  border-color: #362215;
}
.button-brown:hover {
  color: #fff;
  background-color: #805031;
  border-color: #664027;
}
.button-brown:active,
.button-brown.active {
  color: #fff;
  background-color: #805031;
  border-color: #664027;
}
.button-brown:active:hover,
.button-brown.active:hover,
.button-brown:active:focus,
.button-brown.active:focus,
.button-brown:active.focus,
.button-brown.active.focus {
  color: #fff;
  background-color: #664027;
  border-color: #362215;
}
.button-brown:active,
.button-brown.active {
  background-image: none;
}
.button-brown.disabled:hover,
.button-brown[disabled]:hover,
fieldset[disabled] .button-brown:hover,
.button-brown.disabled:focus,
.button-brown[disabled]:focus,
fieldset[disabled] .button-brown:focus,
.button-brown.disabled.focus,
.button-brown[disabled].focus,
fieldset[disabled] .button-brown.focus {
  background-color: #a5673f;
  border-color: #935b38;
}
.button-brown .badge {
  color: #a5673f;
  background-color: #fff;
}
.button-grey {
  color: #333;
  background-color: #eee;
  border-color: #e1e1e1;
}
.button-grey:focus,
.button-grey.focus {
  color: #333;
  background-color: #d5d5d5;
  border-color: #a2a2a2;
}
.button-grey:hover {
  color: #333;
  background-color: #d5d5d5;
  border-color: #c3c3c3;
}
.button-grey:active,
.button-grey.active {
  color: #333;
  background-color: #d5d5d5;
  border-color: #c3c3c3;
}
.button-grey:active:hover,
.button-grey.active:hover,
.button-grey:active:focus,
.button-grey.active:focus,
.button-grey:active.focus,
.button-grey.active.focus {
  color: #333;
  background-color: #c3c3c3;
  border-color: #a2a2a2;
}
.button-grey:active,
.button-grey.active {
  background-image: none;
}
.button-grey.disabled:hover,
.button-grey[disabled]:hover,
fieldset[disabled] .button-grey:hover,
.button-grey.disabled:focus,
.button-grey[disabled]:focus,
fieldset[disabled] .button-grey:focus,
.button-grey.disabled.focus,
.button-grey[disabled].focus,
fieldset[disabled] .button-grey.focus {
  background-color: #eee;
  border-color: #e1e1e1;
}
.button-grey .badge {
  color: #eee;
  background-color: #333;
}
.button-gray {
  color: #333;
  background-color: #999;
  border-color: #8c8c8c;
}
.button-gray:focus,
.button-gray.focus {
  color: #333;
  background-color: #808080;
  border-color: #4c4c4c;
}
.button-gray:hover {
  color: #333;
  background-color: #808080;
  border-color: #6e6e6e;
}
.button-gray:active,
.button-gray.active {
  color: #333;
  background-color: #808080;
  border-color: #6e6e6e;
}
.button-gray:active:hover,
.button-gray.active:hover,
.button-gray:active:focus,
.button-gray.active:focus,
.button-gray:active.focus,
.button-gray.active.focus {
  color: #333;
  background-color: #6e6e6e;
  border-color: #4c4c4c;
}
.button-gray:active,
.button-gray.active {
  background-image: none;
}
.button-gray.disabled:hover,
.button-gray[disabled]:hover,
fieldset[disabled] .button-gray:hover,
.button-gray.disabled:focus,
.button-gray[disabled]:focus,
fieldset[disabled] .button-gray:focus,
.button-gray.disabled.focus,
.button-gray[disabled].focus,
fieldset[disabled] .button-gray.focus {
  background-color: #999;
  border-color: #8c8c8c;
}
.button-gray .badge {
  color: #999;
  background-color: #333;
}
.button-silver {
  color: #fff;
  background-color: #555;
  border-color: #484848;
}
.button-silver:focus,
.button-silver.focus {
  color: #fff;
  background-color: #3b3b3b;
  border-color: #080808;
}
.button-silver:hover {
  color: #fff;
  background-color: #3b3b3b;
  border-color: #2a2a2a;
}
.button-silver:active,
.button-silver.active {
  color: #fff;
  background-color: #3b3b3b;
  border-color: #2a2a2a;
}
.button-silver:active:hover,
.button-silver.active:hover,
.button-silver:active:focus,
.button-silver.active:focus,
.button-silver:active.focus,
.button-silver.active.focus {
  color: #fff;
  background-color: #2a2a2a;
  border-color: #080808;
}
.button-silver:active,
.button-silver.active {
  background-image: none;
}
.button-silver.disabled:hover,
.button-silver[disabled]:hover,
fieldset[disabled] .button-silver:hover,
.button-silver.disabled:focus,
.button-silver[disabled]:focus,
fieldset[disabled] .button-silver:focus,
.button-silver.disabled.focus,
.button-silver[disabled].focus,
fieldset[disabled] .button-silver.focus {
  background-color: #555;
  border-color: #484848;
}
.button-silver .badge {
  color: #555;
  background-color: #fff;
}
.button-black {
  color: #fff;
  background-color: #333;
  border-color: #404040;
}
.button-black:focus,
.button-black.focus {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #000000;
}
.button-black:hover {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #212121;
}
.button-black:active,
.button-black.active {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #212121;
}
.button-black:active:hover,
.button-black.active:hover,
.button-black:active:focus,
.button-black.active:focus,
.button-black:active.focus,
.button-black.active.focus {
  color: #fff;
  background-color: #080808;
  border-color: #000000;
}
.button-black:active,
.button-black.active {
  background-image: none;
}
.button-black.disabled:hover,
.button-black[disabled]:hover,
fieldset[disabled] .button-black:hover,
.button-black.disabled:focus,
.button-black[disabled]:focus,
fieldset[disabled] .button-black:focus,
.button-black.disabled.focus,
.button-black[disabled].focus,
fieldset[disabled] .button-black.focus {
  background-color: #333;
  border-color: #404040;
}
.button-black .badge {
  color: #333;
  background-color: #fff;
}
.button-dark {
  color: #fff;
  background-color: #000;
  border-color: #0d0d0d;
}
.button-dark:focus,
.button-dark.focus {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.button-dark:hover {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.button-dark:active,
.button-dark.active {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.button-dark:active:hover,
.button-dark.active:hover,
.button-dark:active:focus,
.button-dark.active:focus,
.button-dark:active.focus,
.button-dark.active.focus {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.button-dark:active,
.button-dark.active {
  background-image: none;
}
.button-dark.disabled:hover,
.button-dark[disabled]:hover,
fieldset[disabled] .button-dark:hover,
.button-dark.disabled:focus,
.button-dark[disabled]:focus,
fieldset[disabled] .button-dark:focus,
.button-dark.disabled.focus,
.button-dark[disabled].focus,
fieldset[disabled] .button-dark.focus {
  background-color: #000;
  border-color: #0d0d0d;
}
.button-dark .badge {
  color: #000;
  background-color: #fff;
}
.button-white {
  color: #333;
  background-color: #fff;
  border-color: #f2f2f2;
}
.button-white:focus,
.button-white.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #b3b3b3;
}
.button-white:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #d4d4d4;
}
.button-white:active,
.button-white.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #d4d4d4;
}
.button-white:active:hover,
.button-white.active:hover,
.button-white:active:focus,
.button-white.active:focus,
.button-white:active.focus,
.button-white.active.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #b3b3b3;
}
.button-white:active,
.button-white.active {
  background-image: none;
}
.button-white.disabled:hover,
.button-white[disabled]:hover,
fieldset[disabled] .button-white:hover,
.button-white.disabled:focus,
.button-white[disabled]:focus,
fieldset[disabled] .button-white:focus,
.button-white.disabled.focus,
.button-white[disabled].focus,
fieldset[disabled] .button-white.focus {
  background-color: #fff;
  border-color: #f2f2f2;
}
.button-white .badge {
  color: #fff;
  background-color: #333;
}
.btn-xl,
.button-xl,
.btns.btns-xl > .btn,
.btn-xl > .button,
.button-xl > .btn,
.button-xl > .button {
  padding: 0.625rem 1.25rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.btn-lg,
.button-lg,
.btn-lg > .btn,
.btn-lg > .button,
.button-lg > .btn,
.button-lg > .button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.btn-md,
.button-md,
.btn-md > .btn,
.btn-md > .button,
.button-md > .btn,
.button-md > .button {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.btn-sm,
.button-sm,
.btn-sm > .btn,
.btn-sm > .button,
.button-sm > .btn,
.button-sm > .button {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.btn-xs,
.button-xs,
.btn-xs > .btn,
.btn-xs > .button,
.button-xs > .btn,
.button-xs > .button {
  padding: 0.125rem 0.25rem;
  font-size: 0.5rem;
  line-height: 1.5;
  border-radius: 0.1rem;
}
.btn-block,
.button-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block,
.button-block + .button-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block,
input[type="submit"].button-block,
input[type="reset"].button-block,
input[type="button"].button-block {
  width: 100%;
}
