/* 阴影尺寸 */
.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
.container-fluid {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row-condensed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}
.col-12 {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}
.col-11 {
  flex: 0 0 91.66666667%;
  width: 91.66666667%;
  max-width: 91.66666667%;
}
.col-10 {
  flex: 0 0 83.33333333%;
  width: 83.33333333%;
  max-width: 83.33333333%;
}
.col-9 {
  flex: 0 0 75%;
  width: 75%;
  max-width: 75%;
}
.col-8 {
  flex: 0 0 66.66666667%;
  width: 66.66666667%;
  max-width: 66.66666667%;
}
.col-7 {
  flex: 0 0 58.33333333%;
  width: 58.33333333%;
  max-width: 58.33333333%;
}
.col-6 {
  flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}
.col-5 {
  flex: 0 0 41.66666667%;
  width: 41.66666667%;
  max-width: 41.66666667%;
}
.col-4 {
  flex: 0 0 33.33333333%;
  width: 33.33333333%;
  max-width: 33.33333333%;
}
.col-3 {
  flex: 0 0 25%;
  width: 25%;
  max-width: 25%;
}
.col-2 {
  flex: 0 0 16.66666667%;
  width: 16.66666667%;
  max-width: 16.66666667%;
}
.col-1 {
  flex: 0 0 8.33333333%;
  width: 8.33333333%;
  max-width: 8.33333333%;
}
.col-0 {
  flex: 0 0 0;
  width: 0;
  max-width: 0;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.col-pull-12 {
  right: 100%;
}
.col-pull-11 {
  right: 91.66666667%;
}
.col-pull-10 {
  right: 83.33333333%;
}
.col-pull-9 {
  right: 75%;
}
.col-pull-8 {
  right: 66.66666667%;
}
.col-pull-7 {
  right: 58.33333333%;
}
.col-pull-6 {
  right: 50%;
}
.col-pull-5 {
  right: 41.66666667%;
}
.col-pull-4 {
  right: 33.33333333%;
}
.col-pull-3 {
  right: 25%;
}
.col-pull-2 {
  right: 16.66666667%;
}
.col-pull-1 {
  right: 8.33333333%;
}
.col-pull-0 {
  right: auto;
}
.col-push-12 {
  left: 100%;
}
.col-push-11 {
  left: 91.66666667%;
}
.col-push-10 {
  left: 83.33333333%;
}
.col-push-9 {
  left: 75%;
}
.col-push-8 {
  left: 66.66666667%;
}
.col-push-7 {
  left: 58.33333333%;
}
.col-push-6 {
  left: 50%;
}
.col-push-5 {
  left: 41.66666667%;
}
.col-push-4 {
  left: 33.33333333%;
}
.col-push-3 {
  left: 25%;
}
.col-push-2 {
  left: 16.66666667%;
}
.col-push-1 {
  left: 8.33333333%;
}
.col-push-0 {
  left: auto;
}
.col-order-12 {
  order: 12;
}
.col-order-11 {
  order: 11;
}
.col-order-10 {
  order: 10;
}
.col-order-9 {
  order: 9;
}
.col-order-8 {
  order: 8;
}
.col-order-7 {
  order: 7;
}
.col-order-6 {
  order: 6;
}
.col-order-5 {
  order: 5;
}
.col-order-4 {
  order: 4;
}
.col-order-3 {
  order: 3;
}
.col-order-2 {
  order: 2;
}
.col-order-1 {
  order: 1;
}
.col-order-0 {
  right: auto;
}
.col-order-first {
  order: -1;
}
.col-order-last {
  order: 13;
}
.col-offset-12 {
  margin-left: 100%;
}
.col-offset-11 {
  margin-left: 91.66666667%;
}
.col-offset-10 {
  margin-left: 83.33333333%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-8 {
  margin-left: 66.66666667%;
}
.col-offset-7 {
  margin-left: 58.33333333%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-5 {
  margin-left: 41.66666667%;
}
.col-offset-4 {
  margin-left: 33.33333333%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-2 {
  margin-left: 16.66666667%;
}
.col-offset-1 {
  margin-left: 8.33333333%;
}
.col-offset-0 {
  margin-left: 0%;
}
.xs-col-12 {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}
.xs-col-11 {
  flex: 0 0 91.66666667%;
  width: 91.66666667%;
  max-width: 91.66666667%;
}
.xs-col-10 {
  flex: 0 0 83.33333333%;
  width: 83.33333333%;
  max-width: 83.33333333%;
}
.xs-col-9 {
  flex: 0 0 75%;
  width: 75%;
  max-width: 75%;
}
.xs-col-8 {
  flex: 0 0 66.66666667%;
  width: 66.66666667%;
  max-width: 66.66666667%;
}
.xs-col-7 {
  flex: 0 0 58.33333333%;
  width: 58.33333333%;
  max-width: 58.33333333%;
}
.xs-col-6 {
  flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}
.xs-col-5 {
  flex: 0 0 41.66666667%;
  width: 41.66666667%;
  max-width: 41.66666667%;
}
.xs-col-4 {
  flex: 0 0 33.33333333%;
  width: 33.33333333%;
  max-width: 33.33333333%;
}
.xs-col-3 {
  flex: 0 0 25%;
  width: 25%;
  max-width: 25%;
}
.xs-col-2 {
  flex: 0 0 16.66666667%;
  width: 16.66666667%;
  max-width: 16.66666667%;
}
.xs-col-1 {
  flex: 0 0 8.33333333%;
  width: 8.33333333%;
  max-width: 8.33333333%;
}
.xs-col-0 {
  flex: 0 0 0;
  width: 0;
  max-width: 0;
}
.xs-col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.xs-col-pull-12 {
  right: 100%;
}
.xs-col-pull-11 {
  right: 91.66666667%;
}
.xs-col-pull-10 {
  right: 83.33333333%;
}
.xs-col-pull-9 {
  right: 75%;
}
.xs-col-pull-8 {
  right: 66.66666667%;
}
.xs-col-pull-7 {
  right: 58.33333333%;
}
.xs-col-pull-6 {
  right: 50%;
}
.xs-col-pull-5 {
  right: 41.66666667%;
}
.xs-col-pull-4 {
  right: 33.33333333%;
}
.xs-col-pull-3 {
  right: 25%;
}
.xs-col-pull-2 {
  right: 16.66666667%;
}
.xs-col-pull-1 {
  right: 8.33333333%;
}
.xs-col-pull-0 {
  right: auto;
}
.xs-col-push-12 {
  left: 100%;
}
.xs-col-push-11 {
  left: 91.66666667%;
}
.xs-col-push-10 {
  left: 83.33333333%;
}
.xs-col-push-9 {
  left: 75%;
}
.xs-col-push-8 {
  left: 66.66666667%;
}
.xs-col-push-7 {
  left: 58.33333333%;
}
.xs-col-push-6 {
  left: 50%;
}
.xs-col-push-5 {
  left: 41.66666667%;
}
.xs-col-push-4 {
  left: 33.33333333%;
}
.xs-col-push-3 {
  left: 25%;
}
.xs-col-push-2 {
  left: 16.66666667%;
}
.xs-col-push-1 {
  left: 8.33333333%;
}
.xs-col-push-0 {
  left: auto;
}
.xs-col-order-12 {
  order: 12;
}
.xs-col-order-11 {
  order: 11;
}
.xs-col-order-10 {
  order: 10;
}
.xs-col-order-9 {
  order: 9;
}
.xs-col-order-8 {
  order: 8;
}
.xs-col-order-7 {
  order: 7;
}
.xs-col-order-6 {
  order: 6;
}
.xs-col-order-5 {
  order: 5;
}
.xs-col-order-4 {
  order: 4;
}
.xs-col-order-3 {
  order: 3;
}
.xs-col-order-2 {
  order: 2;
}
.xs-col-order-1 {
  order: 1;
}
.xs-col-order-0 {
  right: auto;
}
.xs-col-order-first {
  order: -1;
}
.xs-col-order-last {
  order: 13;
}
.xs-col-offset-12 {
  margin-left: 100%;
}
.xs-col-offset-11 {
  margin-left: 91.66666667%;
}
.xs-col-offset-10 {
  margin-left: 83.33333333%;
}
.xs-col-offset-9 {
  margin-left: 75%;
}
.xs-col-offset-8 {
  margin-left: 66.66666667%;
}
.xs-col-offset-7 {
  margin-left: 58.33333333%;
}
.xs-col-offset-6 {
  margin-left: 50%;
}
.xs-col-offset-5 {
  margin-left: 41.66666667%;
}
.xs-col-offset-4 {
  margin-left: 33.33333333%;
}
.xs-col-offset-3 {
  margin-left: 25%;
}
.xs-col-offset-2 {
  margin-left: 16.66666667%;
}
.xs-col-offset-1 {
  margin-left: 8.33333333%;
}
.xs-col-offset-0 {
  margin-left: 0%;
}
@media (min-width: 576px) {
  .sm-col-12 {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  .sm-col-11 {
    flex: 0 0 91.66666667%;
    width: 91.66666667%;
    max-width: 91.66666667%;
  }
  .sm-col-10 {
    flex: 0 0 83.33333333%;
    width: 83.33333333%;
    max-width: 83.33333333%;
  }
  .sm-col-9 {
    flex: 0 0 75%;
    width: 75%;
    max-width: 75%;
  }
  .sm-col-8 {
    flex: 0 0 66.66666667%;
    width: 66.66666667%;
    max-width: 66.66666667%;
  }
  .sm-col-7 {
    flex: 0 0 58.33333333%;
    width: 58.33333333%;
    max-width: 58.33333333%;
  }
  .sm-col-6 {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  .sm-col-5 {
    flex: 0 0 41.66666667%;
    width: 41.66666667%;
    max-width: 41.66666667%;
  }
  .sm-col-4 {
    flex: 0 0 33.33333333%;
    width: 33.33333333%;
    max-width: 33.33333333%;
  }
  .sm-col-3 {
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }
  .sm-col-2 {
    flex: 0 0 16.66666667%;
    width: 16.66666667%;
    max-width: 16.66666667%;
  }
  .sm-col-1 {
    flex: 0 0 8.33333333%;
    width: 8.33333333%;
    max-width: 8.33333333%;
  }
  .sm-col-0 {
    flex: 0 0 0;
    width: 0;
    max-width: 0;
  }
  .sm-col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .sm-col-pull-12 {
    right: 100%;
  }
  .sm-col-pull-11 {
    right: 91.66666667%;
  }
  .sm-col-pull-10 {
    right: 83.33333333%;
  }
  .sm-col-pull-9 {
    right: 75%;
  }
  .sm-col-pull-8 {
    right: 66.66666667%;
  }
  .sm-col-pull-7 {
    right: 58.33333333%;
  }
  .sm-col-pull-6 {
    right: 50%;
  }
  .sm-col-pull-5 {
    right: 41.66666667%;
  }
  .sm-col-pull-4 {
    right: 33.33333333%;
  }
  .sm-col-pull-3 {
    right: 25%;
  }
  .sm-col-pull-2 {
    right: 16.66666667%;
  }
  .sm-col-pull-1 {
    right: 8.33333333%;
  }
  .sm-col-pull-0 {
    right: auto;
  }
  .sm-col-push-12 {
    left: 100%;
  }
  .sm-col-push-11 {
    left: 91.66666667%;
  }
  .sm-col-push-10 {
    left: 83.33333333%;
  }
  .sm-col-push-9 {
    left: 75%;
  }
  .sm-col-push-8 {
    left: 66.66666667%;
  }
  .sm-col-push-7 {
    left: 58.33333333%;
  }
  .sm-col-push-6 {
    left: 50%;
  }
  .sm-col-push-5 {
    left: 41.66666667%;
  }
  .sm-col-push-4 {
    left: 33.33333333%;
  }
  .sm-col-push-3 {
    left: 25%;
  }
  .sm-col-push-2 {
    left: 16.66666667%;
  }
  .sm-col-push-1 {
    left: 8.33333333%;
  }
  .sm-col-push-0 {
    left: auto;
  }
  .sm-col-order-12 {
    order: 12;
  }
  .sm-col-order-11 {
    order: 11;
  }
  .sm-col-order-10 {
    order: 10;
  }
  .sm-col-order-9 {
    order: 9;
  }
  .sm-col-order-8 {
    order: 8;
  }
  .sm-col-order-7 {
    order: 7;
  }
  .sm-col-order-6 {
    order: 6;
  }
  .sm-col-order-5 {
    order: 5;
  }
  .sm-col-order-4 {
    order: 4;
  }
  .sm-col-order-3 {
    order: 3;
  }
  .sm-col-order-2 {
    order: 2;
  }
  .sm-col-order-1 {
    order: 1;
  }
  .sm-col-order-0 {
    right: auto;
  }
  .sm-col-order-first {
    order: -1;
  }
  .sm-col-order-last {
    order: 13;
  }
  .sm-col-offset-12 {
    margin-left: 100%;
  }
  .sm-col-offset-11 {
    margin-left: 91.66666667%;
  }
  .sm-col-offset-10 {
    margin-left: 83.33333333%;
  }
  .sm-col-offset-9 {
    margin-left: 75%;
  }
  .sm-col-offset-8 {
    margin-left: 66.66666667%;
  }
  .sm-col-offset-7 {
    margin-left: 58.33333333%;
  }
  .sm-col-offset-6 {
    margin-left: 50%;
  }
  .sm-col-offset-5 {
    margin-left: 41.66666667%;
  }
  .sm-col-offset-4 {
    margin-left: 33.33333333%;
  }
  .sm-col-offset-3 {
    margin-left: 25%;
  }
  .sm-col-offset-2 {
    margin-left: 16.66666667%;
  }
  .sm-col-offset-1 {
    margin-left: 8.33333333%;
  }
  .sm-col-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 768px) {
  .md-col-12 {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  .md-col-11 {
    flex: 0 0 91.66666667%;
    width: 91.66666667%;
    max-width: 91.66666667%;
  }
  .md-col-10 {
    flex: 0 0 83.33333333%;
    width: 83.33333333%;
    max-width: 83.33333333%;
  }
  .md-col-9 {
    flex: 0 0 75%;
    width: 75%;
    max-width: 75%;
  }
  .md-col-8 {
    flex: 0 0 66.66666667%;
    width: 66.66666667%;
    max-width: 66.66666667%;
  }
  .md-col-7 {
    flex: 0 0 58.33333333%;
    width: 58.33333333%;
    max-width: 58.33333333%;
  }
  .md-col-6 {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  .md-col-5 {
    flex: 0 0 41.66666667%;
    width: 41.66666667%;
    max-width: 41.66666667%;
  }
  .md-col-4 {
    flex: 0 0 33.33333333%;
    width: 33.33333333%;
    max-width: 33.33333333%;
  }
  .md-col-3 {
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }
  .md-col-2 {
    flex: 0 0 16.66666667%;
    width: 16.66666667%;
    max-width: 16.66666667%;
  }
  .md-col-1 {
    flex: 0 0 8.33333333%;
    width: 8.33333333%;
    max-width: 8.33333333%;
  }
  .md-col-0 {
    flex: 0 0 0;
    width: 0;
    max-width: 0;
  }
  .md-col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .md-col-pull-12 {
    right: 100%;
  }
  .md-col-pull-11 {
    right: 91.66666667%;
  }
  .md-col-pull-10 {
    right: 83.33333333%;
  }
  .md-col-pull-9 {
    right: 75%;
  }
  .md-col-pull-8 {
    right: 66.66666667%;
  }
  .md-col-pull-7 {
    right: 58.33333333%;
  }
  .md-col-pull-6 {
    right: 50%;
  }
  .md-col-pull-5 {
    right: 41.66666667%;
  }
  .md-col-pull-4 {
    right: 33.33333333%;
  }
  .md-col-pull-3 {
    right: 25%;
  }
  .md-col-pull-2 {
    right: 16.66666667%;
  }
  .md-col-pull-1 {
    right: 8.33333333%;
  }
  .md-col-pull-0 {
    right: auto;
  }
  .md-col-push-12 {
    left: 100%;
  }
  .md-col-push-11 {
    left: 91.66666667%;
  }
  .md-col-push-10 {
    left: 83.33333333%;
  }
  .md-col-push-9 {
    left: 75%;
  }
  .md-col-push-8 {
    left: 66.66666667%;
  }
  .md-col-push-7 {
    left: 58.33333333%;
  }
  .md-col-push-6 {
    left: 50%;
  }
  .md-col-push-5 {
    left: 41.66666667%;
  }
  .md-col-push-4 {
    left: 33.33333333%;
  }
  .md-col-push-3 {
    left: 25%;
  }
  .md-col-push-2 {
    left: 16.66666667%;
  }
  .md-col-push-1 {
    left: 8.33333333%;
  }
  .md-col-push-0 {
    left: auto;
  }
  .md-col-order-12 {
    order: 12;
  }
  .md-col-order-11 {
    order: 11;
  }
  .md-col-order-10 {
    order: 10;
  }
  .md-col-order-9 {
    order: 9;
  }
  .md-col-order-8 {
    order: 8;
  }
  .md-col-order-7 {
    order: 7;
  }
  .md-col-order-6 {
    order: 6;
  }
  .md-col-order-5 {
    order: 5;
  }
  .md-col-order-4 {
    order: 4;
  }
  .md-col-order-3 {
    order: 3;
  }
  .md-col-order-2 {
    order: 2;
  }
  .md-col-order-1 {
    order: 1;
  }
  .md-col-order-0 {
    right: auto;
  }
  .md-col-order-first {
    order: -1;
  }
  .md-col-order-last {
    order: 13;
  }
  .md-col-offset-12 {
    margin-left: 100%;
  }
  .md-col-offset-11 {
    margin-left: 91.66666667%;
  }
  .md-col-offset-10 {
    margin-left: 83.33333333%;
  }
  .md-col-offset-9 {
    margin-left: 75%;
  }
  .md-col-offset-8 {
    margin-left: 66.66666667%;
  }
  .md-col-offset-7 {
    margin-left: 58.33333333%;
  }
  .md-col-offset-6 {
    margin-left: 50%;
  }
  .md-col-offset-5 {
    margin-left: 41.66666667%;
  }
  .md-col-offset-4 {
    margin-left: 33.33333333%;
  }
  .md-col-offset-3 {
    margin-left: 25%;
  }
  .md-col-offset-2 {
    margin-left: 16.66666667%;
  }
  .md-col-offset-1 {
    margin-left: 8.33333333%;
  }
  .md-col-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .lg-col-12 {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  .lg-col-11 {
    flex: 0 0 91.66666667%;
    width: 91.66666667%;
    max-width: 91.66666667%;
  }
  .lg-col-10 {
    flex: 0 0 83.33333333%;
    width: 83.33333333%;
    max-width: 83.33333333%;
  }
  .lg-col-9 {
    flex: 0 0 75%;
    width: 75%;
    max-width: 75%;
  }
  .lg-col-8 {
    flex: 0 0 66.66666667%;
    width: 66.66666667%;
    max-width: 66.66666667%;
  }
  .lg-col-7 {
    flex: 0 0 58.33333333%;
    width: 58.33333333%;
    max-width: 58.33333333%;
  }
  .lg-col-6 {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  .lg-col-5 {
    flex: 0 0 41.66666667%;
    width: 41.66666667%;
    max-width: 41.66666667%;
  }
  .lg-col-4 {
    flex: 0 0 33.33333333%;
    width: 33.33333333%;
    max-width: 33.33333333%;
  }
  .lg-col-3 {
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }
  .lg-col-2 {
    flex: 0 0 16.66666667%;
    width: 16.66666667%;
    max-width: 16.66666667%;
  }
  .lg-col-1 {
    flex: 0 0 8.33333333%;
    width: 8.33333333%;
    max-width: 8.33333333%;
  }
  .lg-col-0 {
    flex: 0 0 0;
    width: 0;
    max-width: 0;
  }
  .lg-col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .lg-col-pull-12 {
    right: 100%;
  }
  .lg-col-pull-11 {
    right: 91.66666667%;
  }
  .lg-col-pull-10 {
    right: 83.33333333%;
  }
  .lg-col-pull-9 {
    right: 75%;
  }
  .lg-col-pull-8 {
    right: 66.66666667%;
  }
  .lg-col-pull-7 {
    right: 58.33333333%;
  }
  .lg-col-pull-6 {
    right: 50%;
  }
  .lg-col-pull-5 {
    right: 41.66666667%;
  }
  .lg-col-pull-4 {
    right: 33.33333333%;
  }
  .lg-col-pull-3 {
    right: 25%;
  }
  .lg-col-pull-2 {
    right: 16.66666667%;
  }
  .lg-col-pull-1 {
    right: 8.33333333%;
  }
  .lg-col-pull-0 {
    right: auto;
  }
  .lg-col-push-12 {
    left: 100%;
  }
  .lg-col-push-11 {
    left: 91.66666667%;
  }
  .lg-col-push-10 {
    left: 83.33333333%;
  }
  .lg-col-push-9 {
    left: 75%;
  }
  .lg-col-push-8 {
    left: 66.66666667%;
  }
  .lg-col-push-7 {
    left: 58.33333333%;
  }
  .lg-col-push-6 {
    left: 50%;
  }
  .lg-col-push-5 {
    left: 41.66666667%;
  }
  .lg-col-push-4 {
    left: 33.33333333%;
  }
  .lg-col-push-3 {
    left: 25%;
  }
  .lg-col-push-2 {
    left: 16.66666667%;
  }
  .lg-col-push-1 {
    left: 8.33333333%;
  }
  .lg-col-push-0 {
    left: auto;
  }
  .lg-col-order-12 {
    order: 12;
  }
  .lg-col-order-11 {
    order: 11;
  }
  .lg-col-order-10 {
    order: 10;
  }
  .lg-col-order-9 {
    order: 9;
  }
  .lg-col-order-8 {
    order: 8;
  }
  .lg-col-order-7 {
    order: 7;
  }
  .lg-col-order-6 {
    order: 6;
  }
  .lg-col-order-5 {
    order: 5;
  }
  .lg-col-order-4 {
    order: 4;
  }
  .lg-col-order-3 {
    order: 3;
  }
  .lg-col-order-2 {
    order: 2;
  }
  .lg-col-order-1 {
    order: 1;
  }
  .lg-col-order-0 {
    right: auto;
  }
  .lg-col-order-first {
    order: -1;
  }
  .lg-col-order-last {
    order: 13;
  }
  .lg-col-offset-12 {
    margin-left: 100%;
  }
  .lg-col-offset-11 {
    margin-left: 91.66666667%;
  }
  .lg-col-offset-10 {
    margin-left: 83.33333333%;
  }
  .lg-col-offset-9 {
    margin-left: 75%;
  }
  .lg-col-offset-8 {
    margin-left: 66.66666667%;
  }
  .lg-col-offset-7 {
    margin-left: 58.33333333%;
  }
  .lg-col-offset-6 {
    margin-left: 50%;
  }
  .lg-col-offset-5 {
    margin-left: 41.66666667%;
  }
  .lg-col-offset-4 {
    margin-left: 33.33333333%;
  }
  .lg-col-offset-3 {
    margin-left: 25%;
  }
  .lg-col-offset-2 {
    margin-left: 16.66666667%;
  }
  .lg-col-offset-1 {
    margin-left: 8.33333333%;
  }
  .lg-col-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .xl-col-12 {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  .xl-col-11 {
    flex: 0 0 91.66666667%;
    width: 91.66666667%;
    max-width: 91.66666667%;
  }
  .xl-col-10 {
    flex: 0 0 83.33333333%;
    width: 83.33333333%;
    max-width: 83.33333333%;
  }
  .xl-col-9 {
    flex: 0 0 75%;
    width: 75%;
    max-width: 75%;
  }
  .xl-col-8 {
    flex: 0 0 66.66666667%;
    width: 66.66666667%;
    max-width: 66.66666667%;
  }
  .xl-col-7 {
    flex: 0 0 58.33333333%;
    width: 58.33333333%;
    max-width: 58.33333333%;
  }
  .xl-col-6 {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  .xl-col-5 {
    flex: 0 0 41.66666667%;
    width: 41.66666667%;
    max-width: 41.66666667%;
  }
  .xl-col-4 {
    flex: 0 0 33.33333333%;
    width: 33.33333333%;
    max-width: 33.33333333%;
  }
  .xl-col-3 {
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }
  .xl-col-2 {
    flex: 0 0 16.66666667%;
    width: 16.66666667%;
    max-width: 16.66666667%;
  }
  .xl-col-1 {
    flex: 0 0 8.33333333%;
    width: 8.33333333%;
    max-width: 8.33333333%;
  }
  .xl-col-0 {
    flex: 0 0 0;
    width: 0;
    max-width: 0;
  }
  .xl-col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .xl-col-pull-12 {
    right: 100%;
  }
  .xl-col-pull-11 {
    right: 91.66666667%;
  }
  .xl-col-pull-10 {
    right: 83.33333333%;
  }
  .xl-col-pull-9 {
    right: 75%;
  }
  .xl-col-pull-8 {
    right: 66.66666667%;
  }
  .xl-col-pull-7 {
    right: 58.33333333%;
  }
  .xl-col-pull-6 {
    right: 50%;
  }
  .xl-col-pull-5 {
    right: 41.66666667%;
  }
  .xl-col-pull-4 {
    right: 33.33333333%;
  }
  .xl-col-pull-3 {
    right: 25%;
  }
  .xl-col-pull-2 {
    right: 16.66666667%;
  }
  .xl-col-pull-1 {
    right: 8.33333333%;
  }
  .xl-col-pull-0 {
    right: auto;
  }
  .xl-col-push-12 {
    left: 100%;
  }
  .xl-col-push-11 {
    left: 91.66666667%;
  }
  .xl-col-push-10 {
    left: 83.33333333%;
  }
  .xl-col-push-9 {
    left: 75%;
  }
  .xl-col-push-8 {
    left: 66.66666667%;
  }
  .xl-col-push-7 {
    left: 58.33333333%;
  }
  .xl-col-push-6 {
    left: 50%;
  }
  .xl-col-push-5 {
    left: 41.66666667%;
  }
  .xl-col-push-4 {
    left: 33.33333333%;
  }
  .xl-col-push-3 {
    left: 25%;
  }
  .xl-col-push-2 {
    left: 16.66666667%;
  }
  .xl-col-push-1 {
    left: 8.33333333%;
  }
  .xl-col-push-0 {
    left: auto;
  }
  .xl-col-order-12 {
    order: 12;
  }
  .xl-col-order-11 {
    order: 11;
  }
  .xl-col-order-10 {
    order: 10;
  }
  .xl-col-order-9 {
    order: 9;
  }
  .xl-col-order-8 {
    order: 8;
  }
  .xl-col-order-7 {
    order: 7;
  }
  .xl-col-order-6 {
    order: 6;
  }
  .xl-col-order-5 {
    order: 5;
  }
  .xl-col-order-4 {
    order: 4;
  }
  .xl-col-order-3 {
    order: 3;
  }
  .xl-col-order-2 {
    order: 2;
  }
  .xl-col-order-1 {
    order: 1;
  }
  .xl-col-order-0 {
    right: auto;
  }
  .xl-col-order-first {
    order: -1;
  }
  .xl-col-order-last {
    order: 13;
  }
  .xl-col-offset-12 {
    margin-left: 100%;
  }
  .xl-col-offset-11 {
    margin-left: 91.66666667%;
  }
  .xl-col-offset-10 {
    margin-left: 83.33333333%;
  }
  .xl-col-offset-9 {
    margin-left: 75%;
  }
  .xl-col-offset-8 {
    margin-left: 66.66666667%;
  }
  .xl-col-offset-7 {
    margin-left: 58.33333333%;
  }
  .xl-col-offset-6 {
    margin-left: 50%;
  }
  .xl-col-offset-5 {
    margin-left: 41.66666667%;
  }
  .xl-col-offset-4 {
    margin-left: 33.33333333%;
  }
  .xl-col-offset-3 {
    margin-left: 25%;
  }
  .xl-col-offset-2 {
    margin-left: 16.66666667%;
  }
  .xl-col-offset-1 {
    margin-left: 8.33333333%;
  }
  .xl-col-offset-0 {
    margin-left: 0%;
  }
}
