/*
---- box size---
*/
.width-20 {
  width: 20% !important;
}
.width-25 {
  width: 25% !important;
}
.width-33 {
  width: 33.33333333% !important;
}
.width-40 {
  width: 40% !important;
}
.width-50 {
  width: 50% !important;
}
.width-60 {
  width: 60% !important;
}
.width-66 {
  width: 66.66666667% !important;
}
.width-75 {
  width: 75% !important;
}
.width-80 {
  width: 80% !important;
}
.width-100 {
  width: 100% !important;
}
.height-20 {
  height: 20% !important;
}
.height-25 {
  height: 25% !important;
}
.height-33 {
  height: 33.33333333% !important;
}
.height-40 {
  height: 40% !important;
}
.height-50 {
  height: 50% !important;
}
.height-60 {
  height: 60% !important;
}
.height-66 {
  height: 66.66666667% !important;
}
.height-75 {
  height: 75% !important;
}
.height-80 {
  height: 80% !important;
}
.height-100 {
  height: 100% !important;
}
