/* 阴影尺寸 */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 576px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.xs-col-1,
.sm-col-1,
.md-col-1,
.lg-col-1,
.xs-col-2,
.sm-col-2,
.md-col-2,
.lg-col-2,
.xs-col-3,
.sm-col-3,
.md-col-3,
.lg-col-3,
.xs-col-4,
.sm-col-4,
.md-col-4,
.lg-col-4,
.xs-col-5,
.sm-col-5,
.md-col-5,
.lg-col-5,
.xs-col-6,
.sm-col-6,
.md-col-6,
.lg-col-6,
.xs-col-7,
.sm-col-7,
.md-col-7,
.lg-col-7,
.xs-col-8,
.sm-col-8,
.md-col-8,
.lg-col-8,
.xs-col-9,
.sm-col-9,
.md-col-9,
.lg-col-9,
.xs-col-10,
.sm-col-10,
.md-col-10,
.lg-col-10,
.xs-col-11,
.sm-col-11,
.md-col-11,
.lg-col-11,
.xs-col-12,
.sm-col-12,
.md-col-12,
.lg-col-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.xs-col-1,
.xs-col-2,
.xs-col-3,
.xs-col-4,
.xs-col-5,
.xs-col-6,
.xs-col-7,
.xs-col-8,
.xs-col-9,
.xs-col-10,
.xs-col-11,
.xs-col-12 {
    float: left;
}

.xs-col-12 {
    width: 100%;
}

.xs-col-11 {
    width: 91.66666667%;
}

.xs-col-10 {
    width: 83.33333333%;
}

.xs-col-9 {
    width: 75%;
}

.xs-col-8 {
    width: 66.66666667%;
}

.xs-col-7 {
    width: 58.33333333%;
}

.xs-col-6 {
    width: 50%;
}

.xs-col-5 {
    width: 41.66666667%;
}

.xs-col-4 {
    width: 33.33333333%;
}

.xs-col-3 {
    width: 25%;
}

.xs-col-2 {
    width: 16.66666667%;
}

.xs-col-1 {
    width: 8.33333333%;
}

.xs-col-pull-12 {
    right: 100%;
}

.xs-col-pull-11 {
    right: 91.66666667%;
}

.xs-col-pull-10 {
    right: 83.33333333%;
}

.xs-col-pull-9 {
    right: 75%;
}

.xs-col-pull-8 {
    right: 66.66666667%;
}

.xs-col-pull-7 {
    right: 58.33333333%;
}

.xs-col-pull-6 {
    right: 50%;
}

.xs-col-pull-5 {
    right: 41.66666667%;
}

.xs-col-pull-4 {
    right: 33.33333333%;
}

.xs-col-pull-3 {
    right: 25%;
}

.xs-col-pull-2 {
    right: 16.66666667%;
}

.xs-col-pull-1 {
    right: 8.33333333%;
}

.xs-col-pull-0 {
    right: auto;
}

.xs-col-push-12 {
    left: 100%;
}

.xs-col-push-11 {
    left: 91.66666667%;
}

.xs-col-push-10 {
    left: 83.33333333%;
}

.xs-col-push-9 {
    left: 75%;
}

.xs-col-push-8 {
    left: 66.66666667%;
}

.xs-col-push-7 {
    left: 58.33333333%;
}

.xs-col-push-6 {
    left: 50%;
}

.xs-col-push-5 {
    left: 41.66666667%;
}

.xs-col-push-4 {
    left: 33.33333333%;
}

.xs-col-push-3 {
    left: 25%;
}

.xs-col-push-2 {
    left: 16.66666667%;
}

.xs-col-push-1 {
    left: 8.33333333%;
}

.xs-col-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

@media (min-width: 576px) {
    .sm-col-1,
    .sm-col-2,
    .sm-col-3,
    .sm-col-4,
    .sm-col-5,
    .sm-col-6,
    .sm-col-7,
    .sm-col-8,
    .sm-col-9,
    .sm-col-10,
    .sm-col-11,
    .sm-col-12 {
        float: left;
    }
    .sm-col-12 {
        width: 100%;
    }
    .sm-col-11 {
        width: 91.66666667%;
    }
    .sm-col-10 {
        width: 83.33333333%;
    }
    .sm-col-9 {
        width: 75%;
    }
    .sm-col-8 {
        width: 66.66666667%;
    }
    .sm-col-7 {
        width: 58.33333333%;
    }
    .sm-col-6 {
        width: 50%;
    }
    .sm-col-5 {
        width: 41.66666667%;
    }
    .sm-col-4 {
        width: 33.33333333%;
    }
    .sm-col-3 {
        width: 25%;
    }
    .sm-col-2 {
        width: 16.66666667%;
    }
    .sm-col-1 {
        width: 8.33333333%;
    }
    .sm-col-pull-12 {
        right: 100%;
    }
    .sm-col-pull-11 {
        right: 91.66666667%;
    }
    .sm-col-pull-10 {
        right: 83.33333333%;
    }
    .sm-col-pull-9 {
        right: 75%;
    }
    .sm-col-pull-8 {
        right: 66.66666667%;
    }
    .sm-col-pull-7 {
        right: 58.33333333%;
    }
    .sm-col-pull-6 {
        right: 50%;
    }
    .sm-col-pull-5 {
        right: 41.66666667%;
    }
    .sm-col-pull-4 {
        right: 33.33333333%;
    }
    .sm-col-pull-3 {
        right: 25%;
    }
    .sm-col-pull-2 {
        right: 16.66666667%;
    }
    .sm-col-pull-1 {
        right: 8.33333333%;
    }
    .sm-col-pull-0 {
        right: auto;
    }
    .sm-col-push-12 {
        left: 100%;
    }
    .sm-col-push-11 {
        left: 91.66666667%;
    }
    .sm-col-push-10 {
        left: 83.33333333%;
    }
    .sm-col-push-9 {
        left: 75%;
    }
    .sm-col-push-8 {
        left: 66.66666667%;
    }
    .sm-col-push-7 {
        left: 58.33333333%;
    }
    .sm-col-push-6 {
        left: 50%;
    }
    .sm-col-push-5 {
        left: 41.66666667%;
    }
    .sm-col-push-4 {
        left: 33.33333333%;
    }
    .sm-col-push-3 {
        left: 25%;
    }
    .sm-col-push-2 {
        left: 16.66666667%;
    }
    .sm-col-push-1 {
        left: 8.33333333%;
    }
    .sm-col-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 768px) {
    .md-col-1,
    .md-col-2,
    .md-col-3,
    .md-col-4,
    .md-col-5,
    .md-col-6,
    .md-col-7,
    .md-col-8,
    .md-col-9,
    .md-col-10,
    .md-col-11,
    .md-col-12 {
        float: left;
    }
    .md-col-12 {
        width: 100%;
    }
    .md-col-11 {
        width: 91.66666667%;
    }
    .md-col-10 {
        width: 83.33333333%;
    }
    .md-col-9 {
        width: 75%;
    }
    .md-col-8 {
        width: 66.66666667%;
    }
    .md-col-7 {
        width: 58.33333333%;
    }
    .md-col-6 {
        width: 50%;
    }
    .md-col-5 {
        width: 41.66666667%;
    }
    .md-col-4 {
        width: 33.33333333%;
    }
    .md-col-3 {
        width: 25%;
    }
    .md-col-2 {
        width: 16.66666667%;
    }
    .md-col-1 {
        width: 8.33333333%;
    }
    .md-col-pull-12 {
        right: 100%;
    }
    .md-col-pull-11 {
        right: 91.66666667%;
    }
    .md-col-pull-10 {
        right: 83.33333333%;
    }
    .md-col-pull-9 {
        right: 75%;
    }
    .md-col-pull-8 {
        right: 66.66666667%;
    }
    .md-col-pull-7 {
        right: 58.33333333%;
    }
    .md-col-pull-6 {
        right: 50%;
    }
    .md-col-pull-5 {
        right: 41.66666667%;
    }
    .md-col-pull-4 {
        right: 33.33333333%;
    }
    .md-col-pull-3 {
        right: 25%;
    }
    .md-col-pull-2 {
        right: 16.66666667%;
    }
    .md-col-pull-1 {
        right: 8.33333333%;
    }
    .md-col-pull-0 {
        right: auto;
    }
    .md-col-push-12 {
        left: 100%;
    }
    .md-col-push-11 {
        left: 91.66666667%;
    }
    .md-col-push-10 {
        left: 83.33333333%;
    }
    .md-col-push-9 {
        left: 75%;
    }
    .md-col-push-8 {
        left: 66.66666667%;
    }
    .md-col-push-7 {
        left: 58.33333333%;
    }
    .md-col-push-6 {
        left: 50%;
    }
    .md-col-push-5 {
        left: 41.66666667%;
    }
    .md-col-push-4 {
        left: 33.33333333%;
    }
    .md-col-push-3 {
        left: 25%;
    }
    .md-col-push-2 {
        left: 16.66666667%;
    }
    .md-col-push-1 {
        left: 8.33333333%;
    }
    .md-col-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {
    .lg-col-1,
    .lg-col-2,
    .lg-col-3,
    .lg-col-4,
    .lg-col-5,
    .lg-col-6,
    .lg-col-7,
    .lg-col-8,
    .lg-col-9,
    .lg-col-10,
    .lg-col-11,
    .lg-col-12 {
        float: left;
    }
    .lg-col-12 {
        width: 100%;
    }
    .lg-col-11 {
        width: 91.66666667%;
    }
    .lg-col-10 {
        width: 83.33333333%;
    }
    .lg-col-9 {
        width: 75%;
    }
    .lg-col-8 {
        width: 66.66666667%;
    }
    .lg-col-7 {
        width: 58.33333333%;
    }
    .lg-col-6 {
        width: 50%;
    }
    .lg-col-5 {
        width: 41.66666667%;
    }
    .lg-col-4 {
        width: 33.33333333%;
    }
    .lg-col-3 {
        width: 25%;
    }
    .lg-col-2 {
        width: 16.66666667%;
    }
    .lg-col-1 {
        width: 8.33333333%;
    }
    .lg-col-pull-12 {
        right: 100%;
    }
    .lg-col-pull-11 {
        right: 91.66666667%;
    }
    .lg-col-pull-10 {
        right: 83.33333333%;
    }
    .lg-col-pull-9 {
        right: 75%;
    }
    .lg-col-pull-8 {
        right: 66.66666667%;
    }
    .lg-col-pull-7 {
        right: 58.33333333%;
    }
    .lg-col-pull-6 {
        right: 50%;
    }
    .lg-col-pull-5 {
        right: 41.66666667%;
    }
    .lg-col-pull-4 {
        right: 33.33333333%;
    }
    .lg-col-pull-3 {
        right: 25%;
    }
    .lg-col-pull-2 {
        right: 16.66666667%;
    }
    .lg-col-pull-1 {
        right: 8.33333333%;
    }
    .lg-col-pull-0 {
        right: auto;
    }
    .lg-col-push-12 {
        left: 100%;
    }
    .lg-col-push-11 {
        left: 91.66666667%;
    }
    .lg-col-push-10 {
        left: 83.33333333%;
    }
    .lg-col-push-9 {
        left: 75%;
    }
    .lg-col-push-8 {
        left: 66.66666667%;
    }
    .lg-col-push-7 {
        left: 58.33333333%;
    }
    .lg-col-push-6 {
        left: 50%;
    }
    .lg-col-push-5 {
        left: 41.66666667%;
    }
    .lg-col-push-4 {
        left: 33.33333333%;
    }
    .lg-col-push-3 {
        left: 25%;
    }
    .lg-col-push-2 {
        left: 16.66666667%;
    }
    .lg-col-push-1 {
        left: 8.33333333%;
    }
    .lg-col-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    .xl-col-1,
    .xl-col-2,
    .xl-col-3,
    .xl-col-4,
    .xl-col-5,
    .xl-col-6,
    .xl-col-7,
    .xl-col-8,
    .xl-col-9,
    .xl-col-10,
    .xl-col-11,
    .xl-col-12 {
        float: left;
    }
    .xl-col-12 {
        width: 100%;
    }
    .xl-col-11 {
        width: 91.66666667%;
    }
    .xl-col-10 {
        width: 83.33333333%;
    }
    .xl-col-9 {
        width: 75%;
    }
    .xl-col-8 {
        width: 66.66666667%;
    }
    .xl-col-7 {
        width: 58.33333333%;
    }
    .xl-col-6 {
        width: 50%;
    }
    .xl-col-5 {
        width: 41.66666667%;
    }
    .xl-col-4 {
        width: 33.33333333%;
    }
    .xl-col-3 {
        width: 25%;
    }
    .xl-col-2 {
        width: 16.66666667%;
    }
    .xl-col-1 {
        width: 8.33333333%;
    }
    .xl-col-pull-12 {
        right: 100%;
    }
    .xl-col-pull-11 {
        right: 91.66666667%;
    }
    .xl-col-pull-10 {
        right: 83.33333333%;
    }
    .xl-col-pull-9 {
        right: 75%;
    }
    .xl-col-pull-8 {
        right: 66.66666667%;
    }
    .xl-col-pull-7 {
        right: 58.33333333%;
    }
    .xl-col-pull-6 {
        right: 50%;
    }
    .xl-col-pull-5 {
        right: 41.66666667%;
    }
    .xl-col-pull-4 {
        right: 33.33333333%;
    }
    .xl-col-pull-3 {
        right: 25%;
    }
    .xl-col-pull-2 {
        right: 16.66666667%;
    }
    .xl-col-pull-1 {
        right: 8.33333333%;
    }
    .xl-col-pull-0 {
        right: auto;
    }
    .xl-col-push-12 {
        left: 100%;
    }
    .xl-col-push-11 {
        left: 91.66666667%;
    }
    .xl-col-push-10 {
        left: 83.33333333%;
    }
    .xl-col-push-9 {
        left: 75%;
    }
    .xl-col-push-8 {
        left: 66.66666667%;
    }
    .xl-col-push-7 {
        left: 58.33333333%;
    }
    .xl-col-push-6 {
        left: 50%;
    }
    .xl-col-push-5 {
        left: 41.66666667%;
    }
    .xl-col-push-4 {
        left: 33.33333333%;
    }
    .xl-col-push-3 {
        left: 25%;
    }
    .xl-col-push-2 {
        left: 16.66666667%;
    }
    .xl-col-push-1 {
        left: 8.33333333%;
    }
    .xl-col-push-0 {
        left: auto;
    }
    .col-xl-offset-12 {
        margin-left: 100%;
    }
    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-xl-offset-9 {
        margin-left: 75%;
    }
    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-xl-offset-6 {
        margin-left: 50%;
    }
    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-xl-offset-3 {
        margin-left: 25%;
    }
    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-xl-offset-0 {
        margin-left: 0%;
    }
}


/*
--- container 容器 ---
*/

.container {
    width: 100%;
    max-width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container.fluid {
    max-width: 100%;
}


/*
---- grid 行列布局---
*/

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.row.gutters {
    margin-right: -15px;
    margin-left: -15px;
}

.row.gutters>.col {
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    width: 100%;
    min-height: 0;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
}

.span-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 0;
}

.span-0 {
    flex: 0 0 0;
    max-width: 0;
}

.span-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.span-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.span-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.span-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.span-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.span-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.span-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.span-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.span-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.span-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.span-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.span-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.offset-0 {
    margin-left: 0;
}

.offset-1 {
    margin-left: 8.333333%;
}

.offset-2 {
    margin-left: 16.666667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.333333%;
}

.offset-5 {
    margin-left: 41.666667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.333333%;
}

.offset-8 {
    margin-left: 66.666667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.333333%;
}

.offset-11 {
    margin-left: 91.666667%;
}

.push-0 {
    left: 0;
}

.push-1 {
    left: 8.333333%;
}

.push-2 {
    left: 16.666667%;
}

.push-3 {
    left: 25%;
}

.push-4 {
    left: 33.333333%;
}

.push-5 {
    left: 41.666667%;
}

.push-6 {
    left: 50%;
}

.push-7 {
    left: 58.333333%;
}

.push-8 {
    left: 66.666667%;
}

.push-9 {
    left: 75%;
}

.push-10 {
    left: 83.333333%;
}

.push-11 {
    left: 91.666667%;
}

.pull-0 {
    right: 0;
}

.pull-1 {
    right: 8.333333%;
}

.pull-2 {
    right: 16.666667%;
}

.pull-3 {
    right: 25%;
}

.pull-4 {
    right: 33.333333%;
}

.pull-5 {
    right: 41.666667%;
}

.pull-6 {
    right: 50%;
}

.pull-7 {
    right: 58.333333%;
}

.pull-8 {
    right: 66.666667%;
}

.pull-9 {
    right: 75%;
}

.pull-10 {
    right: 83.333333%;
}

.pull-11 {
    right: 91.666667%;
}


/*(min-width: var(--breakpoint-xs)) or */

@media (min-width: 360px) {
    .xs-col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .xs-span-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .xs-span-0 {
        flex: 0 0 0;
        width: 0;
        max-width: 0;
    }
    .xs-span-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .xs-span-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .xs-span-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .xs-span-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .xs-span-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .xs-span-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .xs-span-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .xs-span-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .xs-span-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .xs-span-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .xs-span-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .xs-span-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .xs-order-first {
        order: -1;
    }
    .xs-order-last {
        order: 13;
    }
    .xs-order-0 {
        order: 0;
    }
    .xs-order-1 {
        order: 1;
    }
    .xs-order-2 {
        order: 2;
    }
    .xs-order-3 {
        order: 3;
    }
    .xs-order-4 {
        order: 4;
    }
    .xs-order-5 {
        order: 5;
    }
    .xs-order-6 {
        order: 6;
    }
    .xs-order-7 {
        order: 7;
    }
    .xs-order-8 {
        order: 8;
    }
    .xs-order-9 {
        order: 9;
    }
    .xs-order-10 {
        order: 10;
    }
    .xs-order-11 {
        order: 11;
    }
    .xs-order-12 {
        order: 12;
    }
    .xs-offset-0 {
        margin-left: 0;
    }
    .xs-offset-1 {
        margin-left: 8.333333%;
    }
    .xs-offset-2 {
        margin-left: 16.666667%;
    }
    .xs-offset-3 {
        margin-left: 25%;
    }
    .xs-offset-4 {
        margin-left: 33.333333%;
    }
    .xs-offset-5 {
        margin-left: 41.666667%;
    }
    .xs-offset-6 {
        margin-left: 50%;
    }
    .xs-offset-7 {
        margin-left: 58.333333%;
    }
    .xs-offset-8 {
        margin-left: 66.666667%;
    }
    .xs-offset-9 {
        margin-left: 75%;
    }
    .xs-offset-10 {
        margin-left: 83.333333%;
    }
    .xs-offset-11 {
        margin-left: 91.666667%;
    }
    .xs-push-0 {
        left: 0;
    }
    .xs-push-1 {
        left: 8.333333%;
    }
    .xs-push-2 {
        left: 16.666667%;
    }
    .xs-push-3 {
        left: 25%;
    }
    .xs-push-4 {
        left: 33.333333%;
    }
    .xs-push-5 {
        left: 41.666667%;
    }
    .xs-push-6 {
        left: 50%;
    }
    .xs-push-7 {
        left: 58.333333%;
    }
    .xs-push-8 {
        left: 66.666667%;
    }
    .xs-push-9 {
        left: 75%;
    }
    .xs-push-10 {
        left: 83.333333%;
    }
    .xs-push-11 {
        left: 91.666667%;
    }
    .xs-pull-0 {
        right: 0;
    }
    .xs-pull-1 {
        right: 8.333333%;
    }
    .xs-pull-2 {
        right: 16.666667%;
    }
    .xs-pull-3 {
        right: 25%;
    }
    .xs-pull-4 {
        right: 33.333333%;
    }
    .xs-pull-5 {
        right: 41.666667%;
    }
    .xs-pull-6 {
        right: 50%;
    }
    .xs-pull-7 {
        right: 58.333333%;
    }
    .xs-pull-8 {
        right: 66.666667%;
    }
    .xs-pull-9 {
        right: 75%;
    }
    .xs-pull-10 {
        right: 83.333333%;
    }
    .xs-pull-11 {
        right: 91.666667%;
    }
}


/*(min-width: var(--breakpoint-sm)) or */

@media (min-width: 576px) {
    .sm-col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .sm-span-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .sm-span-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .sm-span-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .sm-span-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .sm-span-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .sm-span-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .sm-span-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .sm-span-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .sm-span-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .sm-span-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .sm-span-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .sm-span-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .sm-span-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sm-order-first {
        order: -1;
    }
    .sm-order-last {
        order: 13;
    }
    .sm-order-0 {
        order: 0;
    }
    .sm-order-1 {
        order: 1;
    }
    .sm-order-2 {
        order: 2;
    }
    .sm-order-3 {
        order: 3;
    }
    .sm-order-4 {
        order: 4;
    }
    .sm-order-5 {
        order: 5;
    }
    .sm-order-6 {
        order: 6;
    }
    .sm-order-7 {
        order: 7;
    }
    .sm-order-8 {
        order: 8;
    }
    .sm-order-9 {
        order: 9;
    }
    .sm-order-10 {
        order: 10;
    }
    .sm-order-11 {
        order: 11;
    }
    .sm-order-12 {
        order: 12;
    }
    .sm-offset-0 {
        margin-left: 0;
    }
    .sm-offset-1 {
        margin-left: 8.333333%;
    }
    .sm-offset-2 {
        margin-left: 16.666667%;
    }
    .sm-offset-3 {
        margin-left: 25%;
    }
    .sm-offset-4 {
        margin-left: 33.333333%;
    }
    .sm-offset-5 {
        margin-left: 41.666667%;
    }
    .sm-offset-6 {
        margin-left: 50%;
    }
    .sm-offset-7 {
        margin-left: 58.333333%;
    }
    .sm-offset-8 {
        margin-left: 66.666667%;
    }
    .sm-offset-9 {
        margin-left: 75%;
    }
    .sm-offset-10 {
        margin-left: 83.333333%;
    }
    .sm-offset-11 {
        margin-left: 91.666667%;
    }
    .sm-push-0 {
        left: 0;
    }
    .sm-push-1 {
        left: 8.333333%;
    }
    .sm-push-2 {
        left: 16.666667%;
    }
    .sm-push-3 {
        left: 25%;
    }
    .sm-push-4 {
        left: 33.333333%;
    }
    .sm-push-5 {
        left: 41.666667%;
    }
    .sm-push-6 {
        left: 50%;
    }
    .sm-push-7 {
        left: 58.333333%;
    }
    .sm-push-8 {
        left: 66.666667%;
    }
    .sm-push-9 {
        left: 75%;
    }
    .sm-push-10 {
        left: 83.333333%;
    }
    .sm-push-11 {
        left: 91.666667%;
    }
    .sm-pull-0 {
        right: 0;
    }
    .sm-pull-1 {
        right: 8.333333%;
    }
    .sm-pull-2 {
        right: 16.666667%;
    }
    .sm-pull-3 {
        right: 25%;
    }
    .sm-pull-4 {
        right: 33.333333%;
    }
    .sm-pull-5 {
        right: 41.666667%;
    }
    .sm-pull-6 {
        right: 50%;
    }
    .sm-pull-7 {
        right: 58.333333%;
    }
    .sm-pull-8 {
        right: 66.666667%;
    }
    .sm-pull-9 {
        right: 75%;
    }
    .sm-pull-10 {
        right: 83.333333%;
    }
    .sm-pull-11 {
        right: 91.666667%;
    }
}


/*(min-width: var(--breakpoint-md)) or */

@media (min-width: 768px) {
    .md-col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .md-span-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .md-span-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .md-span-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .md-span-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .md-span-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .md-span-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .md-span-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .md-span-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .md-span-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .md-span-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .md-span-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .md-span-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .md-span-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .md-order-first {
        order: -1;
    }
    .md-order-last {
        order: 13;
    }
    .md-order-0 {
        order: 0;
    }
    .md-order-1 {
        order: 1;
    }
    .md-order-2 {
        order: 2;
    }
    .md-order-3 {
        order: 3;
    }
    .md-order-4 {
        order: 4;
    }
    .md-order-5 {
        order: 5;
    }
    .md-order-6 {
        order: 6;
    }
    .md-order-7 {
        order: 7;
    }
    .md-order-8 {
        order: 8;
    }
    .md-order-9 {
        order: 9;
    }
    .md-order-10 {
        order: 10;
    }
    .md-order-11 {
        order: 11;
    }
    .md-order-12 {
        order: 12;
    }
    .md-offset-0 {
        margin-left: 0;
    }
    .md-offset-1 {
        margin-left: 8.333333%;
    }
    .md-offset-2 {
        margin-left: 16.666667%;
    }
    .md-offset-3 {
        margin-left: 25%;
    }
    .md-offset-4 {
        margin-left: 33.333333%;
    }
    .md-offset-5 {
        margin-left: 41.666667%;
    }
    .md-offset-6 {
        margin-left: 50%;
    }
    .md-offset-7 {
        margin-left: 58.333333%;
    }
    .md-offset-8 {
        margin-left: 66.666667%;
    }
    .md-offset-9 {
        margin-left: 75%;
    }
    .md-offset-10 {
        margin-left: 83.333333%;
    }
    .md-offset-11 {
        margin-left: 91.666667%;
    }
    .md-push-0 {
        left: 0;
    }
    .md-push-1 {
        left: 8.333333%;
    }
    .md-push-2 {
        left: 16.666667%;
    }
    .md-push-3 {
        left: 25%;
    }
    .md-push-4 {
        left: 33.333333%;
    }
    .md-push-5 {
        left: 41.666667%;
    }
    .md-push-6 {
        left: 50%;
    }
    .md-push-7 {
        left: 58.333333%;
    }
    .md-push-8 {
        left: 66.666667%;
    }
    .md-push-9 {
        left: 75%;
    }
    .md-push-10 {
        left: 83.333333%;
    }
    .md-push-11 {
        left: 91.666667%;
    }
    .md-pull-0 {
        right: 0;
    }
    .md-pull-1 {
        right: 8.333333%;
    }
    .md-pull-2 {
        right: 16.666667%;
    }
    .md-pull-3 {
        right: 25%;
    }
    .md-pull-4 {
        right: 33.333333%;
    }
    .md-pull-5 {
        right: 41.666667%;
    }
    .md-pull-6 {
        right: 50%;
    }
    .md-pull-7 {
        right: 58.333333%;
    }
    .md-pull-8 {
        right: 66.666667%;
    }
    .md-pull-9 {
        right: 75%;
    }
    .md-pull-10 {
        right: 83.333333%;
    }
    .md-pull-11 {
        right: 91.666667%;
    }
}


/*(min-width: var(--breakpoint-lg)) or */

@media (min-width: 992px) {
    .lg-col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .lg-span-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .lg-span-0 {
        flex: 0 0 0;
        width: 0;
        max-width: 0;
    }
    .lg-span-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .lg-span-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .lg-span-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .lg-span-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .lg-span-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .lg-span-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .lg-span-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .lg-span-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .lg-span-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .lg-span-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .lg-span-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .lg-span-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .lg-order-first {
        order: -1;
    }
    .lg-order-last {
        order: 13;
    }
    .lg-order-0 {
        order: 0;
    }
    .lg-order-1 {
        order: 1;
    }
    .lg-order-2 {
        order: 2;
    }
    .lg-order-3 {
        order: 3;
    }
    .lg-order-4 {
        order: 4;
    }
    .lg-order-5 {
        order: 5;
    }
    .lg-order-6 {
        order: 6;
    }
    .lg-order-7 {
        order: 7;
    }
    .lg-order-8 {
        order: 8;
    }
    .lg-order-9 {
        order: 9;
    }
    .lg-order-10 {
        order: 10;
    }
    .lg-order-11 {
        order: 11;
    }
    .lg-order-12 {
        order: 12;
    }
    .lg-offset-0 {
        margin-left: 0;
    }
    .lg-offset-1 {
        margin-left: 8.333333%;
    }
    .lg-offset-2 {
        margin-left: 16.666667%;
    }
    .lg-offset-3 {
        margin-left: 25%;
    }
    .lg-offset-4 {
        margin-left: 33.333333%;
    }
    .lg-offset-5 {
        margin-left: 41.666667%;
    }
    .lg-offset-6 {
        margin-left: 50%;
    }
    .lg-offset-7 {
        margin-left: 58.333333%;
    }
    .lg-offset-8 {
        margin-left: 66.666667%;
    }
    .lg-offset-9 {
        margin-left: 75%;
    }
    .lg-offset-10 {
        margin-left: 83.333333%;
    }
    .lg-offset-11 {
        margin-left: 91.666667%;
    }
    .lg-push-0 {
        left: 0;
    }
    .lg-push-1 {
        left: 8.333333%;
    }
    .lg-push-2 {
        left: 16.666667%;
    }
    .lg-push-3 {
        left: 25%;
    }
    .lg-push-4 {
        left: 33.333333%;
    }
    .lg-push-5 {
        left: 41.666667%;
    }
    .lg-push-6 {
        left: 50%;
    }
    .lg-push-7 {
        left: 58.333333%;
    }
    .lg-push-8 {
        left: 66.666667%;
    }
    .lg-push-9 {
        left: 75%;
    }
    .lg-push-10 {
        left: 83.333333%;
    }
    .lg-push-11 {
        left: 91.666667%;
    }
    .lg-pull-0 {
        right: 0;
    }
    .lg-pull-1 {
        right: 8.333333%;
    }
    .lg-pull-2 {
        right: 16.666667%;
    }
    .lg-pull-3 {
        right: 25%;
    }
    .lg-pull-4 {
        right: 33.333333%;
    }
    .lg-pull-5 {
        right: 41.666667%;
    }
    .lg-pull-6 {
        right: 50%;
    }
    .lg-pull-7 {
        right: 58.333333%;
    }
    .lg-pull-8 {
        right: 66.666667%;
    }
    .lg-pull-9 {
        right: 75%;
    }
    .lg-pull-10 {
        right: 83.333333%;
    }
    .lg-pull-11 {
        right: 91.666667%;
    }
}


/*(min-width: var(--breakpoint-xl)) or */

@media (min-width: 1200px) {
    .xl-col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .xl-span-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .xl-span-0 {
        flex: 0 0 0;
        width: 0;
        max-width: 0;
    }
    .xl-span-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .xl-span-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .xl-span-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .xl-span-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .xl-span-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .xl-span-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .xl-span-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .xl-span-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .xl-span-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .xl-span-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .xl-span-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .xl-span-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .xl-order-first {
        order: -1;
    }
    .xl-order-last {
        order: 13;
    }
    .xl-order-0 {
        order: 0;
    }
    .xl-order-1 {
        order: 1;
    }
    .xl-order-2 {
        order: 2;
    }
    .xl-order-3 {
        order: 3;
    }
    .xl-order-4 {
        order: 4;
    }
    .xl-order-5 {
        order: 5;
    }
    .xl-order-6 {
        order: 6;
    }
    .xl-order-7 {
        order: 7;
    }
    .xl-order-8 {
        order: 8;
    }
    .xl-order-9 {
        order: 9;
    }
    .xl-order-10 {
        order: 10;
    }
    .xl-order-11 {
        order: 11;
    }
    .xl-order-12 {
        order: 12;
    }
    .xl-offset-0 {
        margin-left: 0;
    }
    .xl-offset-1 {
        margin-left: 8.333333%;
    }
    .xl-offset-2 {
        margin-left: 16.666667%;
    }
    .xl-offset-3 {
        margin-left: 25%;
    }
    .xl-offset-4 {
        margin-left: 33.333333%;
    }
    .xl-offset-5 {
        margin-left: 41.666667%;
    }
    .xl-offset-6 {
        margin-left: 50%;
    }
    .xl-offset-7 {
        margin-left: 58.333333%;
    }
    .xl-offset-8 {
        margin-left: 66.666667%;
    }
    .xl-offset-9 {
        margin-left: 75%;
    }
    .xl-offset-10 {
        margin-left: 83.333333%;
    }
    .xl-offset-11 {
        margin-left: 91.666667%;
    }
    .xl-push-0 {
        left: 0;
    }
    .xl-push-1 {
        left: 8.333333%;
    }
    .xl-push-2 {
        left: 16.666667%;
    }
    .xl-push-3 {
        left: 25%;
    }
    .xl-push-4 {
        left: 33.333333%;
    }
    .xl-push-5 {
        left: 41.666667%;
    }
    .xl-push-6 {
        left: 50%;
    }
    .xl-push-7 {
        left: 58.333333%;
    }
    .xl-push-8 {
        left: 66.666667%;
    }
    .xl-push-9 {
        left: 75%;
    }
    .xl-push-10 {
        left: 83.333333%;
    }
    .xl-push-11 {
        left: 91.666667%;
    }
    .xl-pull-0 {
        right: 0;
    }
    .xl-pull-1 {
        right: 8.333333%;
    }
    .xl-pull-2 {
        right: 16.666667%;
    }
    .xl-pull-3 {
        right: 25%;
    }
    .xl-pull-4 {
        right: 33.333333%;
    }
    .xl-pull-5 {
        right: 41.666667%;
    }
    .xl-pull-6 {
        right: 50%;
    }
    .xl-pull-7 {
        right: 58.333333%;
    }
    .xl-pull-8 {
        right: 66.666667%;
    }
    .xl-pull-9 {
        right: 75%;
    }
    .xl-pull-10 {
        right: 83.333333%;
    }
    .xl-pull-11 {
        right: 91.666667%;
    }
}