/**
 * == Flex ==
 */

//
// Dependences: {
// }
.flex {
    flex-direction: row;
    &-row {
        flex-direction: row;
    }
    &-col {
        flex-direction: column;
    }
    &-row-reverse {
        flex-direction: row-reverse;
    }
    &-col-reverse {
        flex-direction: column-reverse;
    }
    &-wrap {
        flex-wrap: wrap;
    }
    &-nowrap {
        flex-wrap: nowrap;
    }
    &-wrap-reverse {
        flex-wrap: wrap-reverse;
    }
}

.justify {
    &-start {
        justify-content: flex-start;
    }
    &-end {
        justify-content: flex-end;
    }
    &-center {
        justify-content: center;
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
}

.items {
    &-start {
        align-items: flex-start;
    }
    &-end {
        align-items: flex-end;
    }
    &-center {
        align-items: center;
    }
    &-baseline {
        align-items: baseline;
    }
    &-stretch {
        align-items: stretch;
    }
}

.align {
    &-start {
        align-content: flex-start;
    }
    &-end {
        align-content: flex-end;
    }
    &-center {
        align-content: center;
    }
    &-between {
        align-content: space-between;
    }
    &-around {
        align-content: space-around;
    }
    &-stretch {
        align-content: stretch;
    }
}

.self {
    &-auto {
        align-self: auto;
    }
    &-start {
        align-self: flex-start;
    }
    &-end {
        align-self: flex-end;
    }
    &-center {
        align-self: center;
    }
    &-baseline {
        align-self: baseline;
    }
    &-stretch {
        align-self: stretch;
    }
}