/**
 * == Focus ==
 */

//
// Dependences: {
//     ./maxins/variables.scss: colors,
// }
$focus-size: 0 0 0 .2rem;
.focus {
    &:focus {
        box-shadow: $focus-size var(--theme);
    }
    @each $key,
    $color in $colors {
        &-#{$key}:focus {
            box-shadow: $focus-size $color !important;
        }
    }
}