/**
 * == Overflow ==
 */

//
// Dependences: {
// }
.overflow {
    $overflows: hidden, scroll, auto, visible !default;
    overflow: auto;

    @each $overflow in $overflows {
        &-#{$overflow} {
            overflow: $overflow !important;
        }
        &-x-#{$overflow} {
            overflow: $overflow !important;
        }
        &-y-#{$overflow} {
            overflow: $overflow !important;
        }
    }
}