/**
 * == Position ==
 */

//
// Dependences: {
// }
.position {
    $positions: static, relative, absolute, fixed, sticky !default;

    @each $position in $positions {
        &-#{$position} {
            position: $position !important;
        }
    }
}

// Shorthand
.fixed {

    &-top {
        position: fixed;
        top     : 0;
        right   : 0;
        left    : 0;
        z-index : $zindex-fixed;
    }

    &-right {
        position: fixed;
        top     : 0;
        bottom  : 0;
        left    : 0;
        z-index : $zindex-fixed;
    }

    &-bottom {
        position: fixed;
        right   : 0;
        bottom  : 0;
        left    : 0;
        z-index : $zindex-fixed;
    }

    &-left {
        position: fixed;
        top     : 0;
        right   : 0;
        bottom  : 0;
        z-index : $zindex-fixed;
    }
}

.sticky {
    @supports (position: sticky) {

        &-top,
        &-right,
        &-bottom,
        &-left {
            position: sticky;
            z-index : $zindex-sticky;
        }

        &-top {
            top: 0;
        }

        &-right {
            right: 0;
        }

        &-bottom {
            bottom: 0;
        }

        &-left {
            left: 0;
        }
    }
}