/**
 * == Sizing ==
 */

//
// Dependences: {
// }
.w,
.width {
    @each $key,
    $ratio in $ratios {
        &-#{$key} {
            width: $ratio !important;
        }
        &-min-#{$key} {
            min-width: $ratio !important;
        }
        &-max-#{$key} {
            max-width: $ratio !important;
        }
    }
}

.h,
.height {
    @each $key,
    $ratio in $ratios {
        &-#{$key} {
            height: $ratio !important;
        }
        &-min-#{$key} {
            min-height: $ratio !important;
        }
        &-max-#{$key} {
            max-height: $ratio !important;
        }
    }
}