/**
 * == Sizing ==
 */

//
// Dependences: {
// }
.w,
.width {

    @each $key,
    $ratio in $ratios {

        &-#{$key}vw {
            width: 100vw*$ratio !important;
        }

        @if $ratio!=0{
            $ratio:percentage($ratio);
        }

        &-#{$key} {
            width: $ratio !important;
        }

        &-min-#{$key} {
            min-width: $ratio !important;
        }

        &-max-#{$key} {
            max-width: $ratio !important;
        }
    }
}

.h,
.height {

    @each $key,
    $ratio in $ratios {

        &-#{$key}vh {
            height: 100vh*$ratio !important;
        }

        @if $ratio!=0{
            $ratio:percentage($ratio);
        }

        &-#{$key} {
            height: $ratio !important;
        }

        &-min-#{$key} {
            min-height: $ratio !important;
        }

        &-max-#{$key} {
            max-height: $ratio !important;
        }
    }
}