
/**
* == Table ==
*/

//
// Dependences: {
// }

//## Customizes the `.table` component with basic values, each used across all table variations.
//** Padding for `<th>`s and `<td>`s.
$table-cell-padding: 8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding: 5px;
//** Default background color used for all tables.
$table-bg: transparent;
//** Background color used for `.table-striped`.
$table-bg-accent: #f9f9f9;
//** Background color used for `.table-hover`.
$table-bg-hover: #f5f5f5;
$table-bg-active: $table-bg-hover;
//** Border color for table and cell borders.
$table-border-color: #ddd;
table {
    background-color: $table-bg;
}

caption {
    padding-top: $table-cell-padding;
    padding-bottom: $table-cell-padding;
    color: $color-grey;
    text-align: left;
}

th {
    text-align: left;
}

// Baseline styles
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: $line-height-primary;
    // Cells
    >thead,
    >tbody,
    >tfoot {
        >tr {
            >th,
            >td {
                padding: $table-cell-padding;
                line-height: $line-height-primary;
                vertical-align: top;
                border-top: 1px solid $table-border-color;
            }
        }
    }
    // Bottom align for column headings
    >thead>tr>th {
        vertical-align: bottom;
        border-bottom: 2px solid $table-border-color;
    }
    // Remove top border from thead by default
    >caption+thead,
    >colgroup+thead,
    >thead:first-child {
        >tr:first-child {
            >th,
            >td {
                border-top: 0;
            }
        }
    }
    // Account for multiple tbody instances
    >tbody+tbody {
        border-top: 2px solid $table-border-color;
    }
    // Nesting
    .table {
        background-color: $table-bg;
    }
}

// Condensed table w/ half padding
.table--condensed {
    >thead,
    >tbody,
    >tfoot {
        >tr {
            >th,
            >td {
                padding: $table-condensed-cell-padding;
            }
        }
    }
}

// Bordered version
//
.table--bordered {
    border: 1px solid $table-border-color;
    >thead,
    >tbody,
    >tfoot {
        >tr {
            >th,
            >td {
                border: 1px solid $table-border-color;
            }
        }
    }
    >thead>tr {
        >th,
        >td {
            border-bottom-width: 2px;
        }
    }
}

// Zebra-striping
//
.table--striped {
    >tbody>tr:nth-of-type(odd) {
        background-color: $table-bg-accent;
    }
}

// Hover effect
//
.table--hoverable {
    >tbody>tr:hover {
        background-color: $table-bg-hover;
    }
}
