/**
 * == Vertical ==
 */

//
// Dependences: {
// }
.vertical {
    &-baseline {
        vertical-align: baseline;
    }
    &-top {
        vertical-align: top;
    }
    &-middle {
        vertical-align: middle;
    }
    &-bottom {
        vertical-align: bottom;
    }
    &-text-bottom {
        vertical-align: text-bottom;
    }
    &-text-top {
        vertical-align: text-top;
    }
    &-sub {
        vertical-align: sub;
    }
    &-super {
        vertical-align: super;
    }
}