/**
 * == Z-Index ==
 */

//
// Dependences: {
// }

.zindex{
    @each $key, $zindex in $zindexes {
        $suffix: -#{$key};
        @if $key=="primary" {
            $suffix: '';
        }
        &#{$suffix}{
        z-index: $zindex !important;
        }
    }
}